<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.drcome.project.main.mapper.MainMapper">
    
		<!-- 병원리스트 -->    
    	<select id="selectHosList" resultType="HospitalVO">
    		SELECT PHONE,
	             HOSPITAL_ID,
	             HOSPITAL_NAME,
	             HOSPITAL_IMG,
	             ADDRESS,
	             OPENTIME,
	             CLOSETIME,
	             MAIN_SUBJECT,
	             HOLIDAY
			FROM HOSPITAL
			<![CDATA[WHERE ROWNUM <= 5]]>
			
    	</select> <!-- 자료 다 들어오고 붙이기 WHERE HOSPITAL_STATUS = 'b2' -->
    	
    	<!-- 약국리스트 --> 
    	<select id="selectPhaList" resultType="PharmacyVO">
	    	SELECT PHARMACY_PHONE,
		            PHARMACY_ID,
		            PHARMACY_NAME,
		            PHARMACY_IMG,
		            ADDRESS,
		            OPENTIME,
		            CLOSETIME,
		            HOLIDAY
			FROM PHARMACY
			<![CDATA[WHERE ROWNUM <= #{num}]]>
		</select> <!-- WHERE PHARMACY_STATUS = 'b2' -->
		
		<!-- 병원상세 -->
	    <select id="selectHos" resultType="HospitalVO">
	    	SELECT HOSPITAL_ID,
	    		  HOSPITAL_NAME,
	              ADDRESS,
	              PHONE,
	              HOSPITAL_IMG, 
	              MAIN_SUBJECT,
	              DIRECTOR_NAME,
	              HOLIDAY,
	              OPENTIME,
	              CLOSETIME
			FROM HOSPITAL
			WHERE HOSPITAL_ID = #{hospitalId}
		</select>
		
		<!-- 약국상세 -->
		<select id="selectPha" resultType="PharmacyVO">
			SELECT PHARMACY_NAME,
	              ADDRESS,
	              PHARMACY_PHONE,
	              PHARMACY_FAX,
	              PHARMACY_IMG,
	              CEO_NAME,
	              HOLIDAY,
	              OPENTIME,
	              CLOSETIME
			FROM PHARMACY
			WHERE PHARMACY_ID = #{pharmacyId}
		</select>
		
		<!-- 병원이름검색하기 -->
		<select id="searchHosList" resultType="HospitalVO">
			SELECT HOSPITAL_NAME,
				   HOSPITAL_ID,
				   PHONE,
				   OPENTIME,
		           CLOSETIME,
		           ADDRESS
			FROM HOSPITAL
			WHERE HOSPITAL_NAME LIKE '%' ||#{word}||'%'
			ORDER BY HOSPITAL_NAME  
		</select>
		
		<!-- 약국이름검색하기 -->
		<select id="searchPhaList" resultType="PharmacyVO">
			SELECT PHARMACY_NAME,
				   PHARMACY_ID,
				   PHARMACY_PHONE,
				   OPENTIME,
		           CLOSETIME,
		           ADDRESS
			FROM PHARMACY
			WHERE PHARMACY_NAME LIKE '%' ||#{word}||'%' 
			ORDER BY PHARMACY_NAME  
		</select>
		
		<!-- 병원 진료과목으로 검색하기 -->
		<select id="searchSubjectHos" resultType="HospitalVO">
			SELECT HOSPITAL_NAME,
				   HOSPITAL_ID,
				   PHONE,
				   OPENTIME,
		           CLOSETIME,
		           ADDRESS
			FROM HOSPITAL
			WHERE MAIN_SUBJECT = #{mainSubject}
			ORDER BY HOSPITAL_NAME
		</select>
		
		<!-- 처방받을 약국선택 -->
		<insert id="insertPhaSelect" >
			INSERT INTO PHARMACY_SELECT (PHARMACY_SELECTNO, PHARMACY_ID, CLINIC_NO)
	            VALUES (PHARMACY_SELECTNO_SEQUENCE.NEXTVAL,#{pharmacyId},#{clinicNo})
		</insert>
	
		<!-- 예약 전, 초진기록이 있는지 없는지 확인 -->
		<select id="checkClinicHistory" resultType="int">
	    	SELECT COUNT(CLINIC_NO) 
	        FROM CLINIC
	        WHERE PATIENT_NO = (SELECT PATIENT_NO FROM PATIENT WHERE USER_ID= #{userId} AND HOSPITAL_ID = #{hospitalId})
    	</select>
    	
    	<!-- 당일 해당 병원에 예약기록이 있는지 확인하기(같은병원 같은시간 예약중복 방지) -->
    	<select id="checkReservationHistory" resultType="int">
	    	SELECT COUNT(RESERVE_NO)
	        FROM RESERVATION
	        WHERE USER_ID =#{userId}
	        AND HOSPITAL_ID=#{hospitalId}
	        AND RESERVE_YEAR || RESERVE_MONTH || RESERVE_DAY = TO_CHAR(SYSDATE, 'yyyyMMdd')
	        AND RESERVE_TIME > TO_CHAR(SYSDATE, 'HH24')
	        AND RESERVE_STATUS ='e1'
    	</select>
    	
    	<!-- 방문(대면)예약 insert -->
    	<insert id="insertContactReservation" parameterType="ReservationVO">
	    	INSERT INTO RESERVATION VALUES(RESERVE_NO_SEQUENCE.NEXTVAL,
	                                       #{reserveYear},
	                                       #{reserveTime},
	                                       SYSDATE,
	                                       #{doctorNo},
	                                       #{reserveMonth},
	                                       #{reserveDay},
	                                       #{symptom},
	                                       'c1',
	                                       'e1',
	                                       #{userId},
	                                       #{hospitalId}
	                                       )
    	</insert>
    	
    	<!-- 방문(대면)예약 insert -->
    	<insert id="insertUntactReservation" parameterType="ReservationVO">
	    	INSERT INTO RESERVATION VALUES(RESERVE_NO_SEQUENCE.NEXTVAL,
	                                       #{reserveYear},
	                                       #{reserveTime},
	                                       SYSDATE,
	                                       #{doctorNo},
	                                       #{reserveMonth},
	                                       #{reserveDay},
	                                       #{symptom},
	                                       'c2',
	                                       'e1',
	                                       #{userId},
	                                       #{hospitalId}
	                                       )
    	</insert>
    	
		<!-- 선택한 의사의 예약시간뽑기(클릭못하게 처리) -->
		<select id="findreserveListToChoice">
			SELECT RESERVE_TIME
			FROM RESERVATION
			WHERE RESERVE_YEAR = #{reserveYear}
			AND RESERVE_MONTH=#{reserveMonth}
			AND RESERVE_DAY =#{reserveDay}
			AND DOCTOR_NO=#{doctorNo}
		</select>
    	
    	<!-- 1.현재시간 이후 예약된 모든 리스트 가져옴 /
    	 2.컨트롤러에서 의사 요일별 시작시간이랑 끝 시간가지고 30분단위로 쪼갠 후,
    	 3. 현재 시간에서 가장 가까운 마지막으로 예약된 시간찾아서
    	 4. 현재 예약대기인원 구할거임 -->
    	<select id="findWaitingList" resultType="ReservationVO">
    	SELECT RESERVE_NO,
              DOCTOR_NO,
              RESERVE_TIME,
              (SELECT MIN(TIME)
                    FROM DOCTOR_TIME
                    WHERE DOCTOR_NO = #{doctorNo}
                    AND (
                        (TO_CHAR(SYSDATE, 'd') = '1' AND DAY = 'i7') --일요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '2' AND DAY = 'i1') --월요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '3' AND DAY = 'i2') --화요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '4' AND DAY = 'i3') --수요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '5' AND DAY = 'i4') --목요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '6' AND DAY = 'i5') --금요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '7' AND DAY = 'i6') --토요일
                    )) AS "DOCTOR_MINTIME",
             (SELECT MAX(TIME)
                    FROM DOCTOR_TIME
                    WHERE DOCTOR_NO = #{doctorNo}
                    AND (
                        (TO_CHAR(SYSDATE, 'd') = '1' AND DAY = 'i7') --일요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '2' AND DAY = 'i1') --월요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '3' AND DAY = 'i2') --화요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '4' AND DAY = 'i3') --수요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '5' AND DAY = 'i4') --목요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '6' AND DAY = 'i5') --금요일
                        OR  (TO_CHAR(SYSDATE, 'd') = '7' AND DAY = 'i6') --토요일
                    )) AS "DOCTOR_MAXTIME"
			FROM RESERVATION
			WHERE RESERVE_YEAR =  '20'||SUBSTR(SYSDATE, 0, 2)
			AND RESERVE_MONTH = SUBSTR(SYSDATE, 4, 2)
			AND RESERVE_DAY =SUBSTR(SYSDATE, 7, 2)
			AND DOCTOR_NO = #{doctorNo}
			AND SUBSTR(RESERVE_TIME, 1, 2) >= TO_CHAR(SYSDATE, 'HH24')
			AND (SUBSTR(RESERVE_TIME, 1, 2) > TO_CHAR(SYSDATE, 'HH24')
			    OR (SUBSTR(RESERVE_TIME, 1, 2) = TO_CHAR(SYSDATE, 'HH24') 
			        AND SUBSTR(RESERVE_TIME, 4, 2) > TO_CHAR(SYSDATE, 'MI')))
    				ORDER BY RESERVE_TIME
    	</select>
    	
    	
    </mapper>