<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.drcome.project.main.mapper.MainMapper">
    
		<!-- 병원리스트 -->    
    	<select id="selectHosList" resultType="HospitalVO">
    		SELECT PHONE,
	             HOSPITAL_ID,
	             HOSPITAL_NAME,
	             HOSPITAL_IMG,
	             ADDRESS,
	             OPENTIME,
	             CLOSETIME,
	             MAIN_SUBJECT,
	             HOLIDAY
			FROM HOSPITAL
    	</select> <!-- 자료 다 들어오고 붙이기 WHERE HOSPITAL_STATUS = 'b2' -->
    	
    	<!-- 약국리스트 --> 
    	<select id="selectPhaList" resultType="PharmacyVO">
	    	SELECT PHARMACY_PHONE,
		            PHARMACY_ID,
		            PHARMACY_NAME,
		            PHARMACY_IMG,
		            ADDRESS,
		            CLOSETIME,
		            HOLIDAY
			FROM PHARMACY
		</select> <!-- WHERE PHARMACY_STATUS = 'b2' -->
		
		<!-- 병원상세 -->
	    <select id="selectHos" resultType="HospitalVO">
	    	SELECT HOSPITAL_NAME,
	              ADDRESS,
	              PHONE,
	              HOSPITAL_IMG, 
	              MAIN_SUBJECT,
	              DIRECTOR_NAME,
	              HOLIDAY,
	              OPENTIME,
	              CLOSETIME
			FROM HOSPITAL
			WHERE HOSPITAL_ID = #{hospitalId}
		</select>
		
		<!-- 약국상세 -->
		<select id="selectPha" resultType="PharmacyVO">
			SELECT PHARMACY_NAME,
	              ADDRESS,
	              PHARMACY_PHONE,
	              PHARMACY_FAX,
	              PHARMACY_IMG,
	              CEO_NAME,
	              HOLIDAY,
	              OPENTIME,
	              CLOSETIME
			FROM PHARMACY
			WHERE PHARMACY_ID = #{pharmacyId}
		</select>
		
		<!-- 병원이름검색하기 -->
		<select id="searchHosList" resultType="HospitalVO">
		SELECT HOSPITAL_NAME,
			   HOSPITAL_ID,
			   PHONE,
			   OPENTIME,
	           CLOSETIME,
	           ADDRESS
		FROM HOSPITAL
		WHERE HOSPITAL_NAME LIKE '%' ||#{word}||'%'
		ORDER BY HOSPITAL_NAME  
		</select>
		
		<!-- 약국이름검색하기 -->
		<select id="searchPhaList" resultType="PharmacyVO">
		SELECT PHARMACY_NAME,
			   PHARMACY_ID,
			   PHARMACY_PHONE,
			   OPENTIME,
	           CLOSETIME,
	           ADDRESS
		FROM PHARMACY
		WHERE PHARMACY_NAME LIKE '%' ||#{word}||'%' 
		ORDER BY PHARMACY_NAME  
		</select>
		
		<!-- 병원 진료과목으로 검색하기 -->
		<select id="searchSubjectHos" resultType="HospitalVO">
		SELECT HOSPITAL_NAME,
			   HOSPITAL_ID,
			   PHONE,
			   OPENTIME,
	           CLOSETIME,
	           ADDRESS
		FROM HOSPITAL
		WHERE MAIN_SUBJECT = #{mainSubject}
		ORDER BY HOSPITAL_NAME
		</select>
		
		
		
		
		
		
    </mapper>