<!DOCTYPE html>

<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<meta name="description" content="" />
		<meta name="author" content="" />

		<title>SB Admin 2 - Dashboard</title>

		<!-- Custom fonts for this template-->
		<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
		<link
			href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
			rel="stylesheet"
		/>

		<!-- Custom styles for this template-->
		<link href="/css/sb-admin-2.min2.css" rel="stylesheet" />

		<link rel="stylesheet" href="//code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" />

		<style>
			.content {
				min-height: 842px;
			}
			#logoutBtn {
				padding: 1px 2px;
				background-color: rgba(196, 196, 196, 0.219);
			}
			#logoutBtn:hover {
				background-color: rgba(196, 196, 196, 0.7);
				border: 0.5px solid rgba(196, 196, 196, 0.7);
			}
		</style>
	</head>

	<body id="page-top">
		<!-- Page Wrapper -->
		<div id="wrapper">
			<!-- Sidebar -->
			<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
				<!-- Sidebar - Brand -->
				<th:block>
					<div class="sidebar-card" style="margin-top: 20px">
						<a>
							<img
								th:src="@{/img/} + ${pharmacy.pharmacyImg}"
								alt="image"
								style="overflow: hidden; width: 100%; height: 160px"
							/>
						</a>
					</div>
					<div class="sidebar-card" style="align-items: flex-start">
						<div>
							<span th:text="${pharmacy.pharmacyId}" id="removeinfo"></span>&nbsp;
							<a class="btn btn-info btn-sm" th:href="@{/logout}" id="logoutBtn">Logout</a>
						</div>
						<span
							style="margin-top: 0.5rem"
							th:text="|${pharmacy.pharmacyName} ｜ ${pharmacy.ceoName}|"
							id="removeinfo"
						></span>
					</div>
				</th:block>


				<!-- Divider -->
				<!-- <hr class="sidebar-divider my-0" /> -->

				<!-- Nav Item - Dashboard -->
				<!-- <li class="nav-item active"><a class="nav-link"
				href="/admin"> <i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span></a>
			</li> -->

				<!-- Divider -->
				<hr class="sidebar-divider" />

				<!-- Heading -->
				<div class="sidebar-heading">pharmacy</div>

				<!-- Nav Item - Pages Collapse Menu -->
				<li class="nav-item">
					<a class="nav-link" href="/pharmacy/status">
						<i class="fas fa-fw fa-file-medical"></i> <span>처방 현황</span>
					</a>
					<!-- Nav Item - Utilities Collapse Menu -->
				</li>

				<li class="nav-item">
					<a class="nav-link collapsed" href="/pharmacy/info">
						<i class="fas fa-fw fa-hospital-user"></i>
						<span>약국 프로필</span>
					</a>
				</li>

				<!-- Nav Item - Utilities Collapse Menu -->
				<!-- <li class="nav-item"><a class="nav-link collapsed" href="#"> <i
					class="fas fa-fw fa-capsules"></i> <span>성분 검색</span>
			</a></li> -->

				<!-- Divider -->
				<hr class="sidebar-divider d-none d-md-block" />

				<!-- Sidebar Toggler (Sidebar) -->
				<div class="text-center d-none d-md-inline">
					<button class="rounded-circle border-0" id="sidebarToggle"></button>
				</div>
			</ul>
			<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">
				<!-- 메인 시작 -->
				<div class="content" layout:fragment="content"></div>
				<!-- 메인 끝 -->

				<!-- Footer -->
				<footer class="sticky-footer bg-white">
					<div class="container my-auto">
						<div class="copyright text-center my-auto">
							<span>Copyright &copy; Your Website 2024</span>
						</div>
					</div>
				</footer>
				<!-- End of Footer -->
			</div>
			<!-- End of Content Wrapper -->
		</div>
		<!-- End of Page Wrapper -->

		<!-- Scroll to Top Button-->
		<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i> </a>

		<!-- Logout Modal-->
		<div
			class="modal fade"
			id="logoutModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="exampleModalLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
						<button class="close" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</div>
					<div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
					<div class="modal-footer">
						<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
						<a class="btn btn-primary" href="login.html">Logout</a>
					</div>
				</div>
			</div>
		</div>

		<!-- Bootstrap core JavaScript-->
		<script src="/vendor/jquery/jquery.min.js"></script>
		<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

		<!-- Core plugin JavaScript-->
		<script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

		<!-- Custom scripts for all pages-->
		<script src="/js/sb-admin-2.min.js"></script>

		<!-- Page level plugins -->
		<script src="/vendor/chart.js/Chart.min.js"></script>

		<!-- Page level custom scripts -->
		<script src="/js/demo/chart-area-demo.js"></script>
		<script src="/js/demo/chart-pie-demo.js"></script>

		<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

		<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	</body>
</html>
