<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{pharmacy/pharmacyLayout}">
<head>
<meta charset="UTF-8">
<title>Pharmacy Status</title>
<style>
#btn {
	margin-bottom: 20px;
}
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h4>주성분 검색</h4>
			</div>

			<p>대체 제조시, 약 성분을 확인하세요.</p>
			<div class="card shadow mb-4">
				<div class="card-header py-3"
					style="display: flex; justify-content: space-between; align-items: center;">
					<h5 class="m-0 font-weight-bold text-secondary">
						<i class="fas fa-fw fa-capsules"></i> 
					</h5>
				</div>
				<div class="card-body"
					style="display: flex; justify-content: center; align-items: center;">
		<!--/* 			<div class="left">
						<img th:src="@{/img/} + ${pinfo.pharmacyImg}" alt="image"
							width="300px" style="margin-right: 50px;" />
					</div> */-->
					<div class="right">
						<table class="table">
							<tr>
								<th>순번</th>
								<th>제품명</th>
								<th>업체명</th>
								<th>주성분명</th>
							</tr>
							<tr th:each="plist : ${plist}">
								<td th:text="${plist.userName}"></td>
								<td th:text="${plist.userBirthday}"></td>
								<td th:text="${plist.userPhone}"></td>
								<td th:text="${plist.hospitalName}"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
