<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">

<head>
<meta charset="UTF-8">
<title>clinic Main</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.info-box {
	display: flex;
	justify-content: center;
}

#p-info {
	text-align: center;
	margin-bottom: 30px;
	background-color: #DEE0E3;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			<p>Clinic main</p>
			<p>어서와 진료는 처음이지?</p>
		</div>
	</div>
</body>
</html>