<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">
<head>
<meta charset="UTF-8" />
<title>noticeList</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.catCal {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
.selDr {
	display: flex;
	justify-content: space-between;	
}
input[type="radio"] {
	display: none;
}

input[type="radio"]:checked+label {
	background-color: #5a5c69;
	color: #fff;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			
			<div class="selDr">
			    <p>Reservation Dr</p>
			    <div class="selDrDrop">담당의 : 
			        <select id="doctorNo">
			            <option value=""></option>
			        </select>
			    </div>
			</div>

			<!-- 카테고리 & 달력선택 -->
			<div class="catCal">
				<div class="btn-group" role="group"
					aria-label="Basic radio toggle button group"
					style="margin-bottom: 20px">
					<input type="radio" class="btn-check" name="btnradio"
						id="btnradio1" autocomplete="off" checked /> <label
						class="btn btn-outline-dark" for="btnradio1"
						style="border-top-left-radius: 0.35rem; border-bottom-left-radius: 0.35rem;">전체내역</label>
					<input type="radio" class="btn-check" name="btnradio"
						id="btnradio2" autocomplete="off" /> <label
						class="btn btn-outline-dark" for="btnradio2">비대면진료</label>
					<input type="radio" class="btn-check" name="btnradio"
						id="btnradio4" autocomplete="off" /> <label
						class="btn btn-outline-dark" for="btnradio4">대면진료</label>
				</div>

				<div class="calSel">
					<label for="date">날짜를 선택하세요 : <input
						type="date" id="date" value="" />
					</label>
				</div>
			</div>

			<div>
				<table id="reserveDrListTable" class="table table-hover">
					<thead>
						<tr>
							<th>예약코드</th>
							<th>환자이름</th>
							<th>생년월일</th>
							<th>성별</th>
							<th>환자Tel</th>
							<th>예약시간</th>
							<th>담당의</th>
							<th>구분</th>
							<th>진료상태</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>

		<script>
	    $(document).ready(function() {
	    	var doctorNo = null;
	        // 의사목록 ajax
	        function loadDoctorList() {
	            $.ajax({
	                url: '/hospital/clinicDr/allDr',
	                type: 'GET',
	                success: function(DrAllList) {
	                    if (DrAllList) {
	                        var select = $('#doctorNo');
	                        select.empty();
	                        $.each(DrAllList, function(index, doctor) {
	                            select.append('<option value="' + doctor.doctorNo + '">' + doctor.doctorName + '</option>');
	                        });
	                     	// 맨 처음 의사의 번호 가져오기
	                        doctorNo = DrAllList[0].doctorNo;
	                        // 페이지 로드 시 기본 의사에 대한 예약 목록을 가져오도록 함수 호출
	                        sendAjaxRequest();
	                    } else {
	                        console.log('No doctors found');
	                    }
	                },
	                error: function(xhr, status, error) {
	                    console.error('Error fetching doctors:', error);
	                }
	            });
	        }

	        // 페이지 로드 시 의사 목록을 불러옴
	        loadDoctorList();
	    	
	        // 날짜 처리 함수
	        function formatDate(date) {
	            var year = date.getFullYear();
	            var month = (date.getMonth() + 1).toString().padStart(2, '0');
	            var day = date.getDate().toString().padStart(2, '0');
	            return `${year}-${month}-${day}`;
	        }
	        
	        
	        todayDate = new Date().toISOString().substring(0, 10);
	        var inputToday = $('#date').val(todayDate); // 입력 요소에 오늘 날짜 설정
	        var finalDay = inputToday.val().replace(/-/g, '');
	        console.log(finalDay);
	        var reserveStatus = null;
	        console.log(reserveStatus);

	        sendAjaxRequest();
	        
	        // AJAX 요청을 수행하는 함수
	        function sendAjaxRequest() {
	            $.ajax({
	                url: '/hospital/clinicDr/ajax',
	                type: 'GET',
	                data: {
	                    date: finalDay,
	                    reserveKindstatus: reserveStatus,
	                    doctorNo: doctorNo
	                },
	                success: function(reserveDrList) {
	                    if(reserveDrList) {  // reserveDrList가 존재하는지 확인
	                        console.log(reserveDrList);
	                        var reserveDrListTbody = $('#reserveDrListTable tbody');
	                        reserveDrListTbody.empty();
	                        for (var i = 0; i < reserveDrList.length; i++) {
	                            var reserve = reserveDrList[i];
	                            var reserveTr = '<tr>' +
	                                '<td>' + reserve.reserveNo + '</td>' +
	                                '<td>' + reserve.userName + '</td>' +
	                                '<td>' + formatDate(new Date(reserve.userBirthday)) + '</td>' +
	                                '<td>' + reserve.gender + '</td>' +
	                                '<td>' + reserve.userPhone + '</td>' +
	                                '<td>' + reserve.reserveTime + ' : 00</td>' +
	                                '<td>' + reserve.doctorName + '</td>' +
	                                '<td>' + (reserve.reserveKindstatus === 'c1' ? '대면' : '비대면') + '</td>' +
	                                '<td><button class="btn btn-dark">입장</button></td>' +
	                                '</tr>';
	                                reserveDrListTbody.append(reserveTr);
	                        }
	                    } else {
	                        console.log('No reserveDrList found in response');
	                    }
	                }

	            });
	        }

	        // 라디오 버튼 클릭 시
	        $('input[name="btnradio"]').change(function() {
	            if ($('#btnradio1').is(':checked')) {
	                reserveStatus = null;
	            } else if ($('#btnradio2').is(':checked')) {
	                reserveStatus = "c2";
	            } else if ($('#btnradio4').is(':checked')) {
	                reserveStatus = "c1";
	            }
	            finalDay = $('#date').val().replace(/-/g, ''); // 선택된 날짜를 finalDay 변수에 저장
	            sendAjaxRequest();  // AJAX 요청 수행
	        });

	        // 날짜 선택 시
	        $('#date').change(function() {
	            $('#btnradio1').prop('checked', true); // #btnradio1로 초기화
	            reserveStatus = null; // reserveStatus 초기화
	            finalDay = $('#date').val().replace(/-/g, '');
	            sendAjaxRequest();  // AJAX 요청 수행
	        });
	        
	        $('#doctorNo').change(function() {
	            $('#btnradio1').prop('checked', true); // #btnradio1로 초기화
	            reserveStatus = null; // reserveStatus 초기화
	            doctorNo = $(this).val();
	            console.log('Selected Doctor No:', doctorNo); // 확인용 로그
	            sendAjaxRequest();
	        });
	        
	        // 진료실 입장
	        function enter(rno, uid) {
	            let obj = {
	                userId: uid,
	                contentCode: "enterRoom",
	                prefix: "진료실에 입장",
	            };

	            $.ajax("/saveAlarm", {
	                type: "post",
	                data: JSON.stringify(obj),
	                dataType: "json",
	                contentType: "application/json",
	            })
	            .done((result) => {
	                console.log(result); //알람테이블 인서트 성공했으면//페이지 이동
	                location.href = `/untactClinic?reserveNo=${rno}&userId=${uid}`;
	            }) //.done
	            .fail((err) => console.log(err));
	        } //진료실 입장하기 버튼
	        
	    });
      </script>
	</div>
</body>
</html>
