<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">
<head>
<meta charset="UTF-8" />
<title>noticeList</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.catCal {
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}
      input[type="radio"] {
        display: none;
      }

      input[type="radio"]:checked + label {
        background-color: #5a5c69;
        color: #fff;
      }
    </style>
  </head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			<p>Reservation</p>

        <!-- 카테고리 & 달력선택 -->
        <div class="catCal">
          <div
            class="btn-group"
            role="group"
            aria-label="Basic radio toggle button group"
            style="margin-bottom: 20px"
          >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio1"
              autocomplete="off"
              checked
            />
            <label
              class="btn btn-outline-dark"
              for="btnradio1"
              style="
                border-top-left-radius: 0.35rem;
                border-bottom-left-radius: 0.35rem;
              "
              >전체내역</label
            >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio2"
              autocomplete="off"
            />
            <label class="btn btn-outline-dark" for="btnradio2"
              >비대면진료</label
            >
            <input
              type="radio"
              class="btn-check"
              name="btnradio"
              id="btnradio4"
              autocomplete="off"
            />
            <label class="btn btn-outline-dark" for="btnradio4">대면진료</label>
          </div>

          <div class="calSel">
            <label for="date"
              >날짜를 선택하세요 : <input type="date" id="date" value="" />
            </label>
          </div>
        </div>

        <div>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>확인용 주으니가 추가</th>
                <th>유저아이디</th>
                <th>예약코드</th>
                <th>환자이름</th>
                <th>생년월일</th>
                <th>성별</th>
                <th>환자Tel</th>
                <th>예약시간</th>
                <th>담당의</th>
                <th>구분</th>
                <th>진료상태</th>
                <th>처방전</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="rl : ${reserveList}">
                <td th:text="${rl.reserveStatus}"></td>
                <td th:text="${rl.userId}"></td>
                <td th:text="${rl.reserveNo}"></td>
                <td th:text="${rl.userName}"></td>
                <td
                  th:text="${#dates.format(rl.userBirthday, 'yyyy-MM-dd')}"
                ></td>
                <td th:text="${rl.gender}"></td>
                <td th:text="${rl.userPhone}"></td>
                <td th:text="${rl.reserveTime}"></td>
                <td th:text="${rl.doctorName}"></td>

                <td th:if="${ rl.reserveKindstatus == 'c1' }">대면</td>
                <td th:unless="${ rl.reserveKindstatus == 'c1' }">비대면</td>

			<div>
				<table id="reserveListTable" class="table table-hover">
					<thead>
						<tr>
							<th>예약코드</th>
							<th>환자이름</th>
							<th>생년월일</th>
							<th>성별</th>
							<th>환자Tel</th>
							<th>예약시간</th>
							<th>담당의</th>
							<th>구분</th>
							<th>진료상태</th>
							<th>처방전</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
		</div>
		<script>
		    $(document).ready(function() {
		        // 날짜 처리 함수
		        function formatDate(date) {
		            var year = date.getFullYear();
		            var month = (date.getMonth() + 1).toString().padStart(2, '0');
		            var day = date.getDate().toString().padStart(2, '0');
		            return `${year}-${month}-${day}`;
		        }
		        
		        
		        todayDate = new Date().toISOString().substring(0, 10);
		        var inputToday = $('#date').val(todayDate); // 입력 요소에 오늘 날짜 설정
		        var finalDay = inputToday.val().replace(/-/g, '');
		        console.log(finalDay);
		        var reserveStatus = null;
		        console.log(reserveStatus);

		        sendAjaxRequest();
		        
		        // AJAX 요청을 수행하는 함수
		        function sendAjaxRequest() {
		            $.ajax({
		                url: '/hospital/clinicMain/ajax',
		                type: 'GET',
		                data: {
		                    date: finalDay,
		                    reserveKindstatus: reserveStatus
		                },
		                success: function(reserveList) {
		                    if(reserveList) {  // reserveList가 존재하는지 확인
		                        console.log(reserveList);
		                        var reserveListTbody = $('#reserveListTable tbody');
		                        reserveListTbody.empty();
		                        for (var i = 0; i < reserveList.length; i++) {
		                            var reserve = reserveList[i];
		                            var reserveTr = '<tr>' +
		                                '<td>' + reserve.reserveNo + '</td>' +
		                                '<td>' + reserve.userName + '</td>' +
		                                '<td>' + formatDate(new Date(reserve.userBirthday)) + '</td>' +
		                                '<td>' + reserve.gender + '</td>' +
		                                '<td>' + reserve.userPhone + '</td>' +
		                                '<td>' + reserve.reserveTime + ' : 00</td>' +
		                                '<td>' + reserve.doctorName + '</td>' +
		                                '<td>' + (reserve.reserveKindstatus === 'c1' ? '대면' : '비대면') + '</td>' +
		                                '<td><button class="btn btn-dark">진료대기</button></td>' +
		                                '<td><button class="btn btn-light">처방전</button></td>' +
		                                '</tr>';
		                            reserveListTbody.append(reserveTr);
		                        }
		                    } else {
		                        console.log('No reserveList found in response');
		                    }
		                }

		            });
		        }

		        // 라디오 버튼 클릭 시
		        $('input[name="btnradio"]').change(function() {
		            if ($('#btnradio1').is(':checked')) {
		                reserveStatus = null;
		            } else if ($('#btnradio2').is(':checked')) {
		                reserveStatus = "c2";
		            } else if ($('#btnradio4').is(':checked')) {
		                reserveStatus = "c1";
		            }
		            finalDay = $('#date').val().replace(/-/g, ''); // 선택된 날짜를 finalDay 변수에 저장
		            sendAjaxRequest();  // AJAX 요청 수행
		        });

		        // 날짜 선택 시
		        $('#date').change(function() {
		            $('#btnradio1').prop('checked', true); // #btnradio1로 초기화
		            reserveStatus = null; // reserveStatus 초기화
		            finalDay = $('#date').val().replace(/-/g, '');
		            sendAjaxRequest();  // AJAX 요청 수행
		        });
		    });

		</script>
	</div>
</body>
</html>
