<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">
<head>
<meta charset="UTF-8" />
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.qnaTitle {
	margin-bottom: 20px;
}
.left, .right {
	width: 45%;
}
</style>
</head>
<body>
	<div layout:fragment="content">

		<div class="container-fluid">
			<!-- 날짜 및 병원 정보 헤더 -->
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>

			<!-- 카드카드 -->
			<div class="row">

				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										reservation(Monthly)</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${resCnt}"></p></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-calendar fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Earnings (Annual) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-success text-uppercase mb-1">
										Earnings(Monthly)</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800"><p>&#8361
										<span th:text="${#numbers.formatInteger(payMonth, 0, 'COMMA')}"></span></p></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Tasks Card Example -->
<div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                    <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Rate(n-f)</div>
                    <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                                <!-- Check if c2Rate is null -->
                                <p th:if="${c2Rate == null}">0%</p>
                                <!-- If c2Rate is not null, display its value -->
                                <p th:if="${c2Rate != null}" th:text="|${c2Rate}%|"></p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="progress progress-sm mr-2">
                                <div class="progress-bar bg-info" role="progressbar"
                                     th:style="'width: ' + (${c2Rate != null} ? ${c2Rate} : 0) + '%'">
                                    <!-- Set aria-valuenow attribute to c2Rate if not null, otherwise set to 0 -->
                                    <span th:attr="aria-valuenow=${c2Rate != null} ? ${c2Rate} : 0"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-auto">
                    <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                </div>
            </div>
        </div>
    </div>
</div>


				<!-- Pending Requests Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-warning text-uppercase mb-1">
										QnA(Monthly)</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800"><p th:text="${qnaCnt}"></p></div>
								</div>
								<div class="col-auto">
									<i class="fas fa-comments fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- 진료예약현황 -->
			<div class="card shadow mb-4">
				<div class="card-header py-3"
					style="display: flex; justify-content: space-between; align-items: center;">
					<h5 class="m-0 font-weight-bold text-secondary">진료예약현황</h5>
					<div class="btn1">
						<a th:href="@{/hospital/clinicMain}"
							class="btn btn-sm btn-dark shadow-sm">더보기</a>
					</div>
				</div>
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
							<th>예약코드</th>
							<th>환자이름</th>
							<th>생년월일</th>
							<th>성별</th>
							<th>환자Tel</th>
							<th>예약시간</th>
							<th>담당의</th>
							<th>구분</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="to : ${tolist}">
								<td th:text="${to.reserveNo}"></td>
								<td th:text="${to.userName}"></td>
								<td th:text="${#dates.format(to.userBirthday, 'yyyy-MM-dd')}"></td>
								<td th:text="${to.gender}"></td>
								<td th:text="${to.userPhone}"></td>
								<td th:text="${to.reserveTime}"></td>
								<td th:text="${to.doctorName}"></td>

								<td>
					            	<th:block th:each="detailCode : ${application.detailCode_c}" >
					                	<span th:if="${detailCode.detailCode} == ${to.reserveKindstatus}" th:text="${detailCode.codeName}"></span>
					            	</th:block>
				            	</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- Q&A -->
			<div class="card shadow mb-4">
				<div class="card-header py-3"
					style="display: flex; justify-content: space-between; align-items: center;">
					<h5 class="m-0 font-weight-bold text-secondary">Q&A</h5>
					<div class="btn1">
						<a th:href="@{/hospital/qnaList}"
							class="btn btn-sm btn-dark shadow-sm">더보기</a>
					</div>
				</div>
				<div class="card-body"
					style="display: flex; justify-content: space-around;">
					<div class="left">
						<div class="qnaTitle">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-question-circle"></i> 답변대기
							</h5>
						</div>
						<table class="table table-hover">
							<tbody>
								<tr th:each="qnax : ${QnAX}">
									<td th:text="${qnax.userId}"></td>
									<td>
						            	<th:block th:each="detailCode : ${application.detailCode_g}" >
						                	<span th:if="${detailCode.detailCode} == ${qnax.categoryStatus}" th:text="${detailCode.codeName}"></span>
						            	</th:block>
					            	</td>
									<td th:text="${qnax.title}"></td>
									<td>
						            	<th:block th:each="detailCode : ${application.detailCode_j}" >
						                	<span th:if="${detailCode.detailCode} == ${qnax.ansStatus}" th:text="${detailCode.codeName}"></span>
						            	</th:block>
					            	</td>									
								</tr>
							</tbody>
						</table>
					</div>
					<div class="right">
						<div class="qnaTitle">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-exclamation-circle"></i> 답변완료
							</h5>
						</div>
						<table class="table table-hover">
							<tbody>
								<tr th:each="qnao : ${QnAO}">
									<td th:text="${qnao.userId}"></td>
									<td>
						            	<th:block th:each="detailCode : ${application.detailCode_g}" >
						                	<span th:if="${detailCode.detailCode} == ${qnao.categoryStatus}" th:text="${detailCode.codeName}"></span>
						            	</th:block>
					            	</td>
									<td th:text="${qnao.title}"></td>
									<td>
						            	<th:block th:each="detailCode : ${application.detailCode_j}" >
						                	<span th:if="${detailCode.detailCode} == ${qnao.ansStatus}" th:text="${detailCode.codeName}"></span>
						            	</th:block>
					            	</td>
								</tr>
							</tbody>
						</table>



					</div>

				</div>
			</div>
			
		</div>

	</div>
</body>
</html>
