<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">

<head>
<meta charset="UTF-8">
<title>patientList</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.info-box {
	display: flex;
	justify-content: center;
}

#p-info {
	text-align: center;
	margin-bottom: 30px;
	background-color: #DEE0E3;
}
.noticeBtn {
	display: flex;
	justify-content: space-between;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h6 th:text="${hospitalSel.hospitalName}"></h6>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 오늘날짜 :
					<span th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			<!-- title -->
			<h4 class="m-0 font-weight-bold text-secondary">공지사항 조회</h4>
			<br />

			<!-- 공지사항 단건 -->
			<div class="card shadow mb-4">
			<div
						class="card-body"
						style="display: flex; justify-content: center; align-items: center; padding: 0"
					>
				<table class="table table-bordered" style="margin-bottom:0;">
					<th:block th:each="nif : ${noticeList}">
						<thead>
							<tr>
								<th class="text-center table-light align-middle">번호</th>
								<td th:text="${nif.noticeNo}" class="text-center"></td>
								<th class="text-center table-light align-middle">작성일</th>
								<td th:text="${#dates.format(nif.wdate, 'yyyy-MM-dd')}"
									class="text-center"></td>
								<th class="text-center table-light align-middle">수정일</th>
								<td th:if="${nif['udate'] != null}"
									th:text="${#dates.format(nif['udate'], 'yyyy-MM-dd')}"></td>
								<td th:if="${nif['udate'] == null}">-</td>
							</tr>

							<tr>
								<th class="text-center table-light align-middle">제목</th>
								<td th:text="${nif.title}" colspan="3" class="align-middle"></td>
								
								<th class="text-center table-light align-middle">첨부파일</th>
								<td class="text-center">
									<div th:each="files : ${nif.files}">
										<!-- [[${files.fileName}]] -->
										<a href="#" th:attr="data-filename=${files.fileName}" onclick="downloadFile(this.getAttribute('data-filename'))" th:text="${files.fileName.substring(files.fileName.lastIndexOf('/') + 1)}"></a>
									</div>
								</td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${nif.content}" colspan="6" class="text-left"
									valign="top" height="200"><pre
										style="white-space: pre-wrap; border: none;">
								</pre></td>
							</tr>
							<tr>
								<td colspan="6" class="text-center">
									<div class="noticeBtn">
										<!-- 목록버튼 -->
										<div style="text-align: center;">
											<a th:href="@{/hospital/noticeList}" class="btn btn-dark">목록으로</a>
										</div>
										<div class="leftBtn">
											<a th:href="@{/hospital/noticeUpdate/__${nif.noticeNo}__}" class="btn btn-xs btn-info">수정</a>
											<a href="#" class="btn btn-xs btn-warning" th:attr="onclick='deleteNotice(\'' + ${nif.noticeNo} + '\'); return false;'">삭제</a>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</th:block>
				</table>
				</div>
			</div>
		</div>
		<script th:inline="javascript">
		/* JavaScript 함수를 정의하여 AJAX 요청을 보내는 기능 구현 */
		function deleteNotice(noticeNo) {
		    /* 사용자에게 삭제 여부를 확인하는 경고창 표시 */
		    if (confirm('정말로 삭제하시겠습니까?')) {
		        /* AJAX 요청을 보내는 부분 */
		        var xhr = new XMLHttpRequest();
		        xhr.open('DELETE', '/hospital/noticeDelete/' + noticeNo, true);
		        xhr.setRequestHeader('Content-type', 'application/json');
		        xhr.onreadystatechange = function () {
		            if (xhr.readyState === 4) {
		                if (xhr.status === 200) {
		                    window.location.href = '/hospital/noticeList';
		                } else {
		                    console.error('Delete request failed with status code: ' + xhr.status);
		                }
		            }
		        };
		        xhr.send();
		    }
		}
		
		// 파일 다운로드 함수
		function downloadFile(filename) {
		    // 서버에서 파일을 다운로드하는 URL 생성
		    var downloadUrl = "/img/" + filename;

		    // AJAX를 사용하여 파일을 다운로드
		    var xhr = new XMLHttpRequest();
		    xhr.open('GET', downloadUrl, true);
		    xhr.responseType = 'blob'; // 응답 타입을 Blob으로 설정
		    xhr.onload = function() {
		        // 응답이 성공적으로 받아졌을 때 파일 다운로드
		        if (xhr.status === 200) {
		            // Blob 데이터를 File로 변환
		            var blob = new Blob([xhr.response], {type: 'application/octet-stream'});
		            var url = window.URL.createObjectURL(blob);

		            // 다운로드 링크 생성
		            var a = document.createElement('a');
		            a.href = url;
		            a.download = filename;
		            document.body.appendChild(a);
		            a.click();

		            // 객체 URL 해제
		            window.URL.revokeObjectURL(url);
		        }
		    };
		    xhr.send();
		}
		</script>
	</div>
</body>
</html>