<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">

<head>
<meta charset="UTF-8">
<title>patientList</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.search {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 40px;
}

input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + label {
	background-color: #5a5c69;
	color: #fff;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			<p>Q&A list</p>
			<div class="search">
				<!-- drop -->
				<div style="margin-right: 5px;">
					<select class="custom-select" aria-label="Default select example">
						<option selected>검색유형</option>
						<option value="1">환자번호</option>
						<option value="2">환자이름</option>
					</select>
				</div>

				<!-- 검색 -->
				<div>
					<div class="input-group">
						<button class="btn btn-info" type="button"
							style="border-top-right-radius: 0; border-bottom-right-radius: 0;">
							<i class="fas fa-search fa-sm"></i>
						</button>
						<input type="text" class="form-control bg-light border-1 small"
							placeholder="검색어를 입력하세요." aria-label="Search"
							aria-describedby="basic-addon2">
						<div class="input-group-append">
							<button class="btn btn-info" type="button">검색하기</button>
						</div>
					</div>
				</div>
			</div>

			<!-- 카테고리 선택 -->
			<div class="btn-group" role="group"
				aria-label="Basic radio toggle button group" style="margin-bottom: 20px;">
				<input type="radio" class="btn-check" name="btnradio" id="btnradio1"
					autocomplete="off" checked> <label
					class="btn btn-outline-dark" for="btnradio1"  style="border-top-left-radius: 0.35rem; border-bottom-left-radius: 0.35rem;">전체보기</label> <input
					type="radio" class="btn-check" name="btnradio" id="btnradio2"
					autocomplete="off"> <label class="btn btn-outline-dark"
					for="btnradio2">진료문의</label> <input type="radio" class="btn-check"
					name="btnradio" id="btnradio3" autocomplete="off"> <label
					class="btn btn-outline-dark" for="btnradio3">예약문의</label> <input
					type="radio" class="btn-check" name="btnradio" id="btnradio4"
					autocomplete="off"> <label class="btn btn-outline-dark"
					for="btnradio4">기타문의</label>
			</div>

			<!-- 환자리스트 -->
			<div>
				<table class="table">
					<thead>
						<tr>
							<th>No.</th>
							<th>작성자</th>
							<th>제목</th>
							<th>카테고리</th>
							<th>작성일자</th>
							<th>수정일자</th>
							<th>답변상태</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="qlist : ${qnaAllList}">
							<td th:text="${qlist.qnaNo}"></td>
							<td th:text="${qlist.title}"></td>
							<td th:text="${qlist.userId}"></td>
							<td th:text="${qlist.categoryStatus}"></td>
							<td th:text="${#dates.format(qlist.wDate, 'yyyy-MM-dd')}"></td>
<!-- 							<td th:if="${qlist.uDate 1= ''}">.</td> -->
<!-- 							<td th:if="${not #strings.isEmpty(qlist.uDate)}" th:text="${qlist.uDate}}">.</td> -->
<!-- 							<td th:if="${qlist.uDate != null}" th:text="${qlist.uDate}">.</td> -->
<!-- 								<td th:if="${#lists.contains(qlist, uDate) != null}" th:text="${qlist.uDate}">.</td> -->
<!-- 								<td th:if="${#qlist.isEmpty(uDate)}" th:text="${qlist.uDate}">.</td> -->
							<td th:text="${qlist.ansStatus}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>