<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{hospital/hospitalLayout}">
<head>
<meta charset="UTF-8" />
<title>select Pharmacy List</title>
<style>
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<!-- 날짜 및 병원 정보 헤더 -->
			<div class="head_info">
				<h4 th:text="${hospitalSel.hospitalName}"></h4>
				<p>
					<i class="fas fa-fw fa-calendar"></i> 현재날짜 : <span
						th:text="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"></span>
				</p>
			</div>
			<p>약국 선택 리스트</p>
			<p>클리닉 번호 : [[${pharList[0].clinicNo}]]</p>
			<p>처방전 현황 : [[${perscrip}]]</p>
			


			<div  style="display:flex; justify-content:space-between; align-items: center; margin-bottom: 1.0rem;">
				<h5 style="margin:0;">환자 선택 약국리스트</h5>
				<div>
					<button class="btn btn-info" id="sendSelectedData">선택전송</button>
					<button class="btn btn-primary" id="sendAllData">일괄전송</button>
				</div>
			</div>
			
			<!-- 약국 선택 리스트 -->
			<div>
				<table class="table">
					<thead>
						<tr>
							<th class="check"><input type="checkbox" id="selectAll"></th>
							<th>No.</th>
							<th>약국명</th>
							<th>처방날짜</th>
							<th>전화번호</th>
							<th>전송하기</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="phl, iterStat : ${pharList}">
						    <td class="check"><input type="checkbox" class="checkItem" value="${phl.pharmacySelectno}" data-no="${phl.pharmacySelectno}"></td>
						    <td th:text="${phl.pharmacySelectno}"></td>
						    <td th:text="${phl.pharmacyName}"></td>
						    <td th:text="${phl.perscriptionDate}"></td>
						    <td th:text="${phl.pharmacyPhone}"></td>
						    <td><button class="btn btn-dark sendDataButton" data-value="${phl.pharmacySelectno}">전송</button></td>
						</tr>
					</tbody>
				</table>
			</div>
				
			 <script>
			 $(document).ready(function() {
			     // 선택된 데이터 전송
			     $('#sendSelectedData').on('click', function() {
			         var selectedValues = [];
			         $('.checkItem:checked').each(function() {
			             selectedValues.push($(this).val());
			         });
			         sendData(selectedValues);
			     });
			
			     // 전체 데이터 전송
			     $('#sendAllData').on('click', function() {
			         var allValues = [];
			         $('.checkItem').each(function() {
			             allValues.push($(this).val());
			         });
			         sendData(allValues);
			     });
			
			     // 개별 데이터 전송
			     $('.sendDataButton').on('click', function() {
			         var value = $(this).data('value');
			         sendData([value]);
			     });
			
			     // 전체 선택/해제
			     $('#selectAll').on('change', function() {
			         $('.checkItem').prop('checked', $(this).prop('checked'));
			     });
			 });
			
			 function sendData(selectedValues) {
			     $.ajax({
			         type: 'POST', // POST 방식으로 변경
			         url: '/hospital/updatePharmacySelect',
			         contentType: 'application/json',
			         data: JSON.stringify(selectedValues),
			         success: function(response) {
			        	    console.log('업데이트 성공:', response);
			        	    location.reload(); // 페이지 새로고침
			        	},
			         error: function(xhr, status, error) {
			             console.error('에러:', error);
			             // 에러 발생 시 처리
			         }
			     });
			 }
            </script>

		</div>
	</div>
</body>
</html>