<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />
		<title>Dr.Come</title>
	</head>
	<body>
		<div layout:fragment="content">
			<p>메인페이지임</p>
		
		
			<!-- Header Start -->
		    <div class="container-fluid bg-primary py-5 mb-5 page-header" style="height:400px;">
		        <div class="container py-5">
		            <div class="row justify-content-center">
		                <div class="col-lg-10 text-center">
		                    <h1 class="display-3 text-white animated slideInDown" style="font-size:40px;">어떤 병원을 찾고 계신가요?</h1>
		                    
		                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search" style="padding-left:180px; margin-top:40px;">
		                   
							
	                        <!-- 검색창 -->
				            <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="찾으시는 병원이나 약국을 검색해보세요" aria-label="Search"
				          				style=" width:80%; height:50px; border-radius: 20px; padding-left:20px; position:relative;">
				          				
				          	 <!-- 돋보기 아이콘 -->
					        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="rgb(255,255,255)" style=" position:relative; top:-50px; left:300px; to;" class="bi bi-search" viewBox="0 0 16 16">
  								<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
							</svg>	
					        </form>
					        
		                    <nav aria-label="breadcrumb">
		                        <ol class="breadcrumb justify-content-center">
		                        </ol>
		                    </nav>
		                </div>
		            </div>
		        </div>
		    </div>
		    
		   <!-- Team Start -->
		    <div class="container-xxl py-5">
		        <div class="container">
		            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
		                <h6 class="section-title bg-white text-center text-primary px-3">내 주변</h6>
		                <h1 class="mb-5" style="margin-top:5px;">Hospital</h1>
		            </div>
		            <div class="row g-4">
		                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
		                    <div class="team-item bg-light">
		                        <div class="overflow-hidden">
		                            <img class="img-fluid" src="img/team-1.jpg" alt="">
		                        </div>
		                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
		                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
		                            </div>
		                        </div>
		                        <div class="text-center p-4">
		                            <h5 class="mb-0">Instructor Name</h5>
		                            <small>Designation</small>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
		                    <div class="team-item bg-light">
		                        <div class="overflow-hidden">
		                            <img class="img-fluid" src="img/team-2.jpg" alt="">
		                        </div>
		                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
		                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
		                            </div>
		                        </div>
		                        <div class="text-center p-4">
		                            <h5 class="mb-0">Instructor Name</h5>
		                            <small>Designation</small>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
		                    <div class="team-item bg-light">
		                        <div class="overflow-hidden">
		                            <img class="img-fluid" src="img/team-3.jpg" alt="">
		                        </div>
		                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
		                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
		                            </div>
		                        </div>
		                        <div class="text-center p-4">
		                            <h5 class="mb-0">Instructor Name</h5>
		                            <small>Designation</small>
		                        </div>
		                    </div>
		                </div>
		                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
		                    <div class="team-item bg-light">
		                        <div class="overflow-hidden">
		                            <img class="img-fluid" src="img/team-4.jpg" alt="">
		                        </div>
		                        <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
		                            <div class="bg-light d-flex justify-content-center pt-2 px-1">
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-facebook-f"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
		                                <a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
		                            </div>
		                        </div>
		                        <div class="text-center p-4">
		                            <h5 class="mb-0">Instructor Name</h5>
		                            <small>Designation</small>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Team End -->
	
	
		    <!-- Testimonial Start -->
		    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
		        <div class="container">
		            <div class="text-center">
		                <h6 class="section-title bg-white text-center text-primary px-3">내 주변</h6>
		                <h1 class="mb-5">Pharmacy</h1>
		            </div>
		            <div class="owl-carousel testimonial-carousel position-relative">
		                <div class="testimonial-item text-center">
		                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-1.jpg" style="width: 80px; height: 80px;">
		                    <h5 class="mb-0">Client Name</h5>
		                    <p>Profession</p>
		                    <div class="testimonial-text bg-light text-center p-4">
		                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
		                    </div>
		                </div>
		                <div class="testimonial-item text-center">
		                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-2.jpg" style="width: 80px; height: 80px;">
		                    <h5 class="mb-0">Client Name</h5>
		                    <p>Profession</p>
		                    <div class="testimonial-text bg-light text-center p-4">
		                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
		                    </div>
		                </div>
		                <div class="testimonial-item text-center">
		                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-3.jpg" style="width: 80px; height: 80px;">
		                    <h5 class="mb-0">Client Name</h5>
		                    <p>Profession</p>
		                    <div class="testimonial-text bg-light text-center p-4">
		                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
		                    </div>
		                </div>
		                <div class="testimonial-item text-center">
		                    <img class="border rounded-circle p-2 mx-auto mb-3" src="img/testimonial-4.jpg" style="width: 80px; height: 80px;">
		                    <h5 class="mb-0">Client Name</h5>
		                    <p>Profession</p>
		                    <div class="testimonial-text bg-light text-center p-4">
		                    <p class="mb-0">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </div>
		    <!-- Testimonial End -->
		</div>	
		
	</body>
</html>
