<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<meta charset="UTF-8" />
<title>병원 상세페이지</title>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7be6b1f8b5b642b5d341f732b8dc384e&libraries=services"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet" />
<style scoped>
.ho:hover {
	background-color: #B0E0E6;
	cursor: pointer;
}
.head_info {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.left {
	display: flex;
	flex-direction: column;
	padding-right: 50px;
}

.bb{
	display:inline;
	width:200px;
	height:60px;
	margin:10px 10px 10px 10px;
}
.right{
	width: 60%;
	
}
.butt{
	display:flex;
}

.pagination a {
  display: inline-block;
  padding: 5px 10px;
  margin: 0 2px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.pagination a.active {
  background-color: #36b9cc;
  color: #fff;
  /* border: 1px solid #4e73df; */
}

.pagination a:hover {
  background-color: #bfc5d8;
}
</style>
</head>

<body>
	<div layout:fragment="content" style="caret-color:transparent;">
		<h1 style="text-align:center; margin-bottom:50px; margin-top:50px; color:gray;">- Detail Info -</h1>
		<div class="container-fluid" style="margin-bottom:150px; text-a
		lign:center;">
			<th:block th:each="hos : ${hosInfo}">
			
			
				<!-- 병원정보 -->
				<p style="display:none;" class="hosId" th:text="${hos.hospitalId}"></p>
				<p style="display:none;" class="Doctor" th:text="${docList}"></p>
				<div class="container" style="margin-bottom:50px;">
					<div class="card shadow mb-4">
						<div class="card-header py-3"
							style="display: flex; justify-content: space-between; align-items: center;">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-hospital"></i>병원정보
							</h5>
						</div>
						
						<div class="card-body"
							style="display: flex; justify-content: center; align-items: center;">
							<div class="left">
								
								<img th:if="${hos.hospitalImg}" th:src="@{/img/} + ${hos.hospitalImg}" alt="image" width="350px" height="350px" style="border-radius:15%;"/>
								<img th:unless="${hos.hospitalImg}" th:src="@{/img/} + hospital.png" alt="image" width="350px" height="350px" style="border-radius:15%;"/>
							</div>
							<div class="right" style="text-align:center;">
								<h3 th:text="| [  ${hos.hospitalName} ] |" class="font-weight-bold text-secondary" style="margin-bottom:30px; margin-top:20px;"></h3>
								<table class="table" style="text-align:center;">
									<th:block th:each="detailCode : ${application.detailCode_h}">
										<tr th:if="${detailCode.detailCode} == ${hos.mainSubject}">
											<th style="text-align:left; width:200px; padding-left:30px;" >- 대표진료과목</th>
											<td th:text="${detailCode.codeName}" ></td>
										</tr>
									</th:block>
									<tr>
										<th style="text-align:left;padding-left:30px;" >- 대표자이름</th>
										<td th:text="${hos.directorName}"></td>
									</tr>
									<tr>
										<th style="text-align:left;padding-left:30px;" >- 전화번호</th>
										<td th:text="${hos.phone}"></td>
									</tr>
									<tr class="holiday">
										<th style="text-align:left;padding-left:30px;" >- 휴무일</th>	
										<th:block th:each="detailCode : ${application.detailCode_i}">
											<td th:if="${detailCode.detailCode == hos.holiday and #strings.length(hos.holiday) < 3}"  th:text="${detailCode.codeName}" class="oneday"></td>
											<td th:unless="${detailCode.detailCode == hos.holiday and #strings.length(hos.holiday) < 3}" th:text="${hos.holiday}" class="moreday" style="display:none;"></td>
										</th:block>
									</tr>
									<tr>
										<th style="text-align:left;padding-left:30px;" >- 운영시간</th>
										<td th:text="|${hos.opentime} ~ ${hos.closetime}|" class="closeTime"></td>
									</tr>
								</table>
								<div class="butt">
									<button type="button" class="bb btn btn-primary visit" th:onclick="contactCheck([[${reservationHistory}]])">방문예약하기</button>
									<button type="button" class="bb btn btn-primary later" th:onclick="check( [[${clinicHistory}]],'later',[[${reservationHistory}]] )">비대면예약하기</button>
									<button type="button" class="bb btn btn-primary now" th:onclick="check( [[${clinicHistory}]],'now',[[${reservationHistory}]] )">실시간 비대면 진료 <br/>접수하기</button>
									<button type="button" class="bb btn btn-primary " th:onclick="|location.href='@{/qnaUserForm(hospitalId=${hos.hospitalId})}'|">문의하기</button>     
								</div>

							</div>
						</div>
	
					</div>
					<script th:inline="javascript">
						//휴무일이 여러개일때 변환함수
						function dayday(){
							let holiday = document.querySelector('.holiday');
							//console.log("holiday", holiday);
							
							//요일이 여러개일때의 작업
							//클래스가 oneday인 td가 없으면 코드를 잘라서 요일로 변환 후 td를 새로 생성해서 append 해주는 작업
							if(!holiday.querySelector('.oneday')){
							let day = document.querySelector('.moreday').innerText;
							console.log(day);//i1,i2,i3
							let days = day.split(',');
							let realdays = ''; //월화수
							//console.log(days.length);
							let dayList = {"i1":"월","i2":"화","i3":"수","i4":"목","i5":"금","i6":"토","i7":"일"}
							//console.log("dayList=",dayList["i2"])
							days.forEach((ele, index)=>{
								console.log(dayList[ele]);
								realdays += dayList[ele] + ' ';
							})
							//console.log("realdays=",realdays);
							var tdElement = document.createElement("td");
							tdElement.textContent = realdays;
							holiday.append(tdElement);
							
							}
						}
						dayday();
						
						//예약버튼 예외사항함수
						function check(clinicHistory, word, reservationHistory){
							//1. 예약이 이미 있음
							if(reservationHistory){
								Swal.fire({
						            title: "오늘 해당병원에 예약하신 내역이 있습니다",
						            html: '동일한 병원은 진료받은 후 재예약이 가능합니다 <br/> <a href="/mypage">마이페이지</a>에서 예약내역을 확인해주세요',
						            icon: "warning",
						            showCancelButton: false,
						            confirmButtonColor: "#3085d6",
						            confirmButtonText: "yes"
						        }).then((result) => {
						            if (result.isConfirmed) {
						            	return;
						            }
						        });
								return;
							}
							
							//2. 비대면 예약됨
							if(clinicHistory){
								//console.log("clinicHistory=",clinicHistory);
								//console.log("word=",word);
								let hospitalId = document.querySelector('.hosId').innerText;
								if(word == 'later'){ //비대면 예약
									window.location.href="/untactReserve?hospitalId="+hospitalId;
								}else if(word == 'now'){//비대면 실시간 접수
									window.location.href="/untactAccept?hospitalId="+hospitalId;
								}
								
							//3. 해당병원에 초진기록이 없음(방문예약으로 안내)
							}else{
								Swal.fire({
						            title: "해당병원에 초진 기록이 없습니다",
						            html: "방문예약 페이지로 안내하겠습니다!~ ",
						            icon: "warning",
						            showCancelButton: false,
						            confirmButtonColor: "#3085d6",
						            confirmButtonText: "yes"
						        }).then((result) => {
						            if (result.isConfirmed) {//방문예약 페이지
						            	//방문예약페이지로 슝
										let hospitalId = document.querySelector('.hosId').innerText;
										window.location.href = "/contactReserve?hospitalId="+hospitalId;
						                
						            }
						        });
							}
						}
						
						//방문예약은 초진기록 없이도 가능해서 함수 따로 분류해둠
						//이미 방문예약을 잡았을 시.
						function contactCheck(reservationHistory){
							if(reservationHistory){
								Swal.fire({
						            title: "오늘 해당병원에 예약하신 내역이 있습니다",
						            html: '동일한 병원은 진료받은 후 재예약이 가능합니다 <br/> <a href="/mypage">마이페이지</a>에서 예약내역을 확인해주세요',
						            icon: "warning",
						            showCancelButton: false,
						            confirmButtonColor: "#3085d6",
						            confirmButtonText: "yes"
						        }).then((result) => {
						            if (result.isConfirmed) {
						            	return;
						            }
						        });
								return;
							}else{
								//방문예약페이지로 슝
								let hospitalId = document.querySelector('.hosId').innerText;
								window.location.href = "/contactReserve?hospitalId="+hospitalId;
							}
						}
						
						//영업시간 끝나면 실시간 접수 버튼 못누르게하는 함수(오픈시간은 생략)
						// + 의사가 없으면 접수버튼 못 누르게하는 함수
						function closetime(){
							//영업시간
							let findCloseBtn = document.querySelector('.now');
							let findCloseTime = document.querySelector('.closeTime').innerText;
							let closeTime = findCloseTime.substr(8,2);
							let today = new Date();
				            let curHour = today.getHours();
							console.log("closeTime=",closeTime);
							console.log("curHour=",curHour);
							
							//의사
							let doctor = document.querySelector('.Doctor').innerText;
							console.log("doctor=",doctor.length);
							let visitBtn = document.querySelector('.visit');
							let laterBtn = document.querySelector('.later');
							
							
							
							if(doctor.length <5 ){ //의사가 없다.(전체 다 못누름)
								console.log("a");
								findCloseBtn.disabled = true;
								visitBtn.disabled = true;
								laterBtn.disabled = true;
							}else if(doctor.length > 5 && closeTime > curHour){//의사가 있고 아직 영업종료가 안 되었다.(전체 다 누르기 가능)
								console.log("b");
								findCloseBtn.disabled = false;
								visitBtn.disabled = false;
								laterBtn.disabled = false;
							}else { //의사는 있지만 영업종료됐다.(실시간만 못 누름)
								console.log("c");
								findCloseBtn.disabled = true;
							}
							
							//오늘이 휴무일이면 실시간 접수 못함
							let day = document.querySelector('.moreday').innerText;
							let days = day.split(',');
							let weekday = today.getDay();
							let dayList2 = {"i1":1,"i2":2,"i3":3,"i4":4,"i5":5,"i6":6,"i7":0}
							days.forEach((ele, index)=>{
								console.log("weekday",weekday);
								console.log("ele",dayList2[ele]);
								if(weekday == dayList2[ele]){
									findCloseBtn.disabled = true;
								}
							})
							
						}
						closetime();
						
					</script>
				</div>
				
				
				<!-- 의사정보 -->
				<div class="container" style="margin-bottom:50px;">
					<div class="card shadow mb-4">
						<div class="card-header py-3"
							style="display: flex; justify-content: space-between; align-items: center; ">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-user-nurse"></i>의사정보
							</h5>
						</div>
						<div class="card-body" style="text-align:center; ">
							<table class="table">
								<thead>
									<tr>
										<th>의사이름</th>
										<th>진료과목</th>
										<th>진료일 / 진료시간</th>
										<th>휴진일</th>
									</tr>
								</thead>
								<tbody style="vertical-align:middle;">
									<th:block th:each="doc : ${docList}">
										<tr th:if="${#lists.size(docList) > 0}" class="restday">
											<td th:text="${doc.doctorName}"></td>
											
											<th:block th:each="detailCode : ${application.detailCode_h}">
											<td th:if="${doc.subject} == ${detailCode.detailCode}" th:text="${detailCode.codeName}" ></td>
											</th:block>
											
											<td>
												<div th:each="drTime : ${doc.times}">
													[[${drTime.day}]]&nbsp&nbsp
													[[${drTime.minTime}]] : 00 ~ [[${drTime.maxTime}]] : 00
												</div>
											</td>
											
											<th:block th:each="detailCode : ${application.detailCode_i}">
											<td th:if="${detailCode.detailCode ==doc.holiday and #strings.length(doc.holiday) < 3}"  th:text="${detailCode.codeName}" ></td>
											<td th:unless="${detailCode.detailCode == doc.holiday and #strings.length(doc.holiday) < 3}" th:text="${doc.holiday}" class="many" style="display:none;"></td>
											</th:block>
										</tr>
									</th:block>
									<tr th:unless="${#lists.size(docList) > 0}">
										<td colspan="5"
											style="color: gray; height: 100px; vertical-align: middle;">
											아직 등록된 의사가 없습니다.</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<script th:inline="javascript">
				//의사 휴무일 여러개일떄
				function restday(){
					let restday = document.querySelector('.restday');
					let dayList = {"i1":"월","i2":"화","i3":"수","i4":"목","i5":"금","i6":"토","i7":"일"}
					//console.log("restday", restday);
					
					//요일이 여러개일때의 작업
					if(restday.querySelector('.many')){
						let days = document.querySelectorAll('.many');
						let changedays = Array.from(days);//노드리스트에서 배열로 변환
						//중복되는 것들 splice로 잘라버리고 딱 원하는 자료만 뽑기
						for(let i =1; i <changedays.length; i++){
							if(changedays[i-1].innerText === changedays[i].innerText){
								changedays.splice(i-1, i);
		 							i--; 
							}
						}
						//이제 이 배열을 가지고 작업하면 됨
						for(let i=0; i < changedays.length; i++){
							let realdays = [];
							let element = changedays[i].innerText;
							if(element.length > 3){
								let splitDays = element.split(',');
								console.log("splitDays=",splitDays)
								splitDays.forEach(ele=>{
									realdays += dayList[ele] + ' ';
									
								}) 
								//console.log("realdays= ",realdays);
	 						}
							
							//et td = days.querySelectorAll('[style="display:none;"]');
							console.log("changedays[i]",changedays[i].innerText);
							console.log("realdays=",realdays);
							
							var tdElement = document.createElement("td");
		 					tdElement.textContent = realdays;
							
		 					if(changedays[i].innerText.length > 3){
		 						changedays[i].parentNode.replaceChild(tdElement, changedays[i]);
		 					}
							
						}						
					}
				}
				restday();
				</script>
				
				<!-- 병원위치 -->
				<div class="container" style="margin-bottom:50px;">
					<div class="card shadow mb-4">
						<div class="card-header py-3"
							style="display: flex; align-items: center;">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-search-location"></i>병원위치 :
							</h5>
							<h5 class="font-weight-bold text-secondary me" style="margin : 0 0 0 10px;" th:text="${hos.address}"> </h5>
						</div>
						<div class="card-body"
							style="display: flex; justify-content: center; align-items: center;">
							
							<div id="map" style="width:100%;height:400px;">
							<script type="text/javascript">
							
								var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
								mapOption = {
								    center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
								    level: 3 // 지도의 확대 레벨
								};  
								
								//지도를 생성합니다    
								var map = new kakao.maps.Map(mapContainer, mapOption); 
								
								//주소-좌표 변환 객체를 생성합니다
								var geocoder = new kakao.maps.services.Geocoder();
								
								//주소로 좌표를 검색합니다
								let hospitalAdd = document.querySelector(".me").innerText;
								console.log(hospitalAdd);
								geocoder.addressSearch(hospitalAdd, function(result, status) {
								
								// 정상적으로 검색이 완료됐으면 
								 if (status === kakao.maps.services.Status.OK) {
								
								    var coords = new kakao.maps.LatLng(result[0].y, result[0].x);
								
								    // 결과값으로 받은 위치를 마커로 표시합니다
								    var marker = new kakao.maps.Marker({
								        map: map,
								        position: coords
								    });
								
								    // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
								    map.setCenter(coords);
								} 
								});    
							</script>
							
							</div>   
							
						</div>
					</div>
				</div>
			</th:block>
				
				<!-- 공지사항 -->
				<div class="container" style="margin-bottom:50px;">
					<div class="card shadow mb-4">
						<div class="card-header py-3"
							style="display: flex; justify-content: space-between; align-items: center; ">
							<h5 class="m-0 font-weight-bold text-secondary">
								<i class="fas fa-fw fa-check"></i>공지사항
							</h5>
						</div>
						<div class="card-body" style="text-align:center; ">
							<table class="table noticeTable table-hover">
							</table>
						</div>
						<!-- 페이징 버튼 -->
						<div class="pagination" style="display: flex; justify-content: center; margin-bottom:30px;;">
						</div>	
					</div>
				</div>
				
				
				<script>
			    //ajax로 페이지 열린 후에 페이징 한 거 받아오기...
			    let page = 1;
			    // Ajax 요청을 보내는 함수
			    function sendP(page) {
			        $.ajax({
			            url: '/hospitalDetailP', // JSON 데이터를 반환하는 엔드포인트
			            type: 'GET',
			            data: { 
			            	page: page,
			            },
			            dataType: 'json', // 응답 데이터 타입은 JSON입니다.
			        }).done(function(response) {
			            // 응답을 받으면 처리합니다.
			            var noticeList = $('#noticeList');
			            noticeList.empty(); // 기존 목록을 지웁니다.
						console.log('response',response);
			            
			            // 받은 JSON 데이터를 반복하여 목록에 추가합니다.
			            $.each(response.plist, function(index, item) {
			                noticeList.append('<div>' + item.title + '</div>');
			                // 공지사항의 제목을 출력하거나 필요한 데이터를 표시할 수 있습니다.
			            });
			            
			            // 페이지네이션 정보를 사용하여 페이지네이션을 구현할 수 있습니다.
			            console.log("pagedto" + response.pagedto);
			            // 받은 JSON 데이터를 사용하여 테이블 생성
			            createTable(response.plist);
			            makePaging(response.pagedto);
			
			        }).fail(function(xhr, status, error) {
			            // 요청이 실패한 경우 에러 처리를 합니다.
			            //console.error("error" + error);
			        });
			    }
			
			    // 페이지 로드 시 첫 번째 페이지 데이터를 가져옵니다.
			    $(document).ready(function() {
			        sendP(page);
			    });
			
			    // 날짜 처리 함수
			    function formatDate(dateString) {
			        var date = new Date(dateString);
			        var year = date.getFullYear();
			        var month = (date.getMonth() + 1).toString().padStart(2, '0');
			        var day = date.getDate().toString().padStart(2, '0');
			
			        return `${year}-${month}-${day}`;
			    }
			
			    // 페이징 함수
			    function makePaging(dto = {}) {
			        document.querySelector(".pagination").innerHTML = ""; // 초기화
			        console.log("dto", dto);
			        // 이전 페이지가 있으면
			        if (dto.prev) {
			            let aTag = document.createElement("a");
			            aTag.setAttribute("href", dto.startPage - 1); // 11페이지에서 << 누르면 10페이지로 가게끔
			            aTag.innerHTML = "&laquo";
			            document.querySelector(".pagination").append(aTag);
			        }
			
			        for (let i = dto.startPage; i <= dto.endPage; i++) {
			            let aTag = document.createElement("a");
			            aTag.setAttribute("href", i); //<a href="1">1</a>
			            aTag.innerHTML = i;
			            // active 녹색 주는거
			            if (i == page) {
			                aTag.className = "active";
			            }
			            document.querySelector(".pagination").append(aTag);
			        } // 포
			
			        // 이후 페이지가 있으면
			        if (dto.next) {
			            let aTag = document.createElement("a");
			            aTag.setAttribute("href", dto.endPage + 1);
			            aTag.innerHTML = "&raquo";
			            document.querySelector(".pagination").append(aTag);
			        }
			
			        // 페이지 숫자 태그에 클릭 이벤트 만들기
			        document.querySelectorAll(".pagination a").forEach((ele) => {
			            // 페이지네이션 클래스의 모든 a 태그들을 가져옴   // 배열 메소드 forEach 씀
			            ele.addEventListener("click", function(e) {
			                e.preventDefault(); // 기본 기능 차단하고 아랫부분 코드 계속 실행하겠다는 말 // 페이지 안넘어가게
			                page = ele.getAttribute("href"); // href의 값 = page
			                sendP(page); // 페이지 번호에 해당하는 데이터를 불러오는 함수 호출
			            }); // 클릭 이벤트
			        }); // 포이치
			    }
			
			    // content를 줄임말로 표시하는 함수
			    function shortenContent(content, maxLength) {
			        if (content.length > maxLength) {
			            return content.substring(0, maxLength) + '...';
			        } else {
			            return content;
			        }
			    }
			    // 동적으로 테이블 생성 함수
			    function createTable(plist) {
			        $(".noticeTable").empty();
			        var table = document.querySelector('.noticeTable');
			        var thead = $("<thead>").appendTo(table);
			        var tbody = $("<tbody>").appendTo(table);
			
			        var headerRow = $("<tr>").addClass('.ho').appendTo(thead);
			        var headers = ["No.", "제목", "내용", "작성일자"];
			
			        $.each(headers, function(index, text) {
			            $("<th>").text(text).appendTo(headerRow);
			        });
			
			        $.each(plist, function(index, item) {
			            var row = $("<tr>").appendTo(tbody);
			            row.addClass('ho');
			            row.append(`<td>${item.noticeNo}</td>`);
			            row.append(`<td>${item.title}</td>`);
			            row.append(`<td>${shortenContent(item.content, 50)}</td>`);
			            row.append(`<td>${formatDate(new Date(item.wdate))}</td>`);
			        });
			
			        //상세페이지로 넘어가기
			        // 클릭 이벤트를 tbody에 바인딩하여 행 전체를 클릭했을 때 처리
			        $(".noticeTable tbody").on("click", "tr", function() {
			            // 현재 클릭된 행에서 noticeNo 값을 가져옴
			            var noticeNo = $(this).find("td:first").text(); // 첫 번째 td에 있는 값이 noticeNo
			
			            // noticeNo 값을 가지고 다른 페이지로 이동
			            window.location.href = '/userNoticeDetail?noticeNo=' + noticeNo;
			        });
			
			        // tr 요소에 마우스 오버 시에 손가락 모양으로 마우스 커서를 변경
			        $(".noticeTable tbody tr").css("cursor", "pointer");
			    }
			    
			
			</script>
		
	</div>
</body>

</html>