<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcome.project.pharmacy.mapper.PharmacyMapper">
	<!-- 약국 상세 조회 -->
	<select id="selectPharmacyInfo" resultType="PharmacyVO">
		SELECT   pharmacy_id
		       , pharmacy_name
		       , address
		       , pharmacy_phone
		       , pharmacy_fax
		       , pharmacy_img
		       , ceo_name
		       , ceo_phone
		       , ceo_license
		       , pharmacy_status
		       , holiday
		       , opentime
		       , closetime
		       , joindate
		  FROM PHARMACY
		 WHERE pharmacy_id = #{pharmacyId}
	</select>
	
	<!-- 약 주성분 검색 -->
	<select id="searchMedicine" resultType="MedicineVO">
		SELECT medicine_code
			   , medicine_name
			   , ingredient
			   , entp_name 
		  FROM medicine
		 WHERE ingredient LIKE '%${keyword}%'
	</select>
	
	<!-- 처방전 미리보기 -->
	<select id="perscription" resultType="com.drcome.project.doctor.service.PatientVO">
		SELECT medicine_name
			   ,dosage
		       ,dose_cnt
		       ,dose_day
		  FROM perscription p join medicine d
		    ON (p.medicine_no = d.medicine_no)
		 WHERE clinic_no =#{clinicNo}
	</select>
	
	<!-- 처방전 반환 -->
	<update id="updaterejection" parameterType="PharmacySelectVO">
		UPDATE pharmacy_select 
		   SET rejection = #{rejection} 
		 WHERE clinic_no = #{clinicNo}
		   AND pharmacy_id = #{pharmacyId}
	</update>
	
	<!-- 처방전 반환 produce_status -->
	<update id="updateProduceStatus" parameterType="PharmacySelectVO">
		UPDATE pharmacy_select
		   SET produce_status = 'f2'
		 WHERE pharmacy_selectno = #{pharmacySelectno}
	</update>
	
	<!-- 처방현황 -->
	<select id="selectPrescriptionList" resultType="Map">
	  SELECT  *  FROM (   SELECT z.*,ROWNUM AS rn 	FROM (
			
			    SELECT 
			           c.patient_no "patientNo",
			           c.clinic_no "clinicNo",
			           c.hospital_id "hospitalId",
			           c.reserve_no "reserveNo",
			           c.perscription_yn "perscriptionYn",
			           a.user_id "patientUserId",
			           u.user_name "userName",
			           u.birthday "userBirthday",
			           u.phone "userPhone",
			           h.hospital_name "hospitalName",
			           h.phone "hospitalPhone",
			           d.doctor_name "doctorName",
			           s.print_status "printStatus",
			           c.clinic_date "perscriptionDate",
			           s.send_status "sendStatus",
			           s.rejection "rejection",
			           s.pharmacy_selectno "pharmacySelectno",
			           p.pharmacy_name "pharmacyName"
			    FROM clinic c 
			    LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
			    JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
			    JOIN hospital h ON c.hospital_id = h.hospital_id
			    JOIN reservation r ON c.reserve_no = r.reserve_no
			    JOIN doctor d ON r.doctor_no = d.doctor_no
			    JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
			    JOIN pharmacy p ON s.pharmacy_id = p.pharmacy_id
			    WHERE s.print_status = 'd1'
			    AND s.send_status = 'Y'
			    AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
			    AND s.rejection IS NULL
			    AND s.produce_status = 'f1'
			    AND s.pharmacy_id = #{pharmacyId}
			    <include refid="searchP"></include>
			    ORDER BY c.clinic_no
			)  z WHERE   <![CDATA[ ROWNUM <= #{page} * 5 ]]> ) x	WHERE rn > (#{page} - 1) * 5
	 
	</select>
    <!-- 약국 페이징(처방현황) -->
	<select id="percount" resultType="int">
		SELECT COUNT(*)
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
		  JOIN hospital h ON c.hospital_id = h.hospital_id
		  JOIN reservation r ON c.reserve_no = r.reserve_no
		  JOIN doctor d ON r.doctor_no = d.doctor_no
		  JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
		 WHERE s.print_status = 'd1'
		   AND s.send_status = 'Y'
		   AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
		   AND s.rejection IS NULL
		   AND s.pharmacy_id = #{pharmacyId}
		 <include refid="searchP"></include>
	</select>
	
	<!-- 현재날짜 처방 내역 -->
	<select id="currPerList" resultType="Map">
		SELECT *   FROM (   SELECT z.*,ROWNUM AS rn 	FROM (
			    SELECT 
			           c.patient_no "patientNo",
			           c.clinic_no "clinicNo",
			           c.hospital_id "hospitalId",
			           c.reserve_no "reserveNo",
			           c.perscription_yn "perscriptionYn",
			           a.user_id "patientUserId",
			           u.user_name "userName",
			           u.birthday "userBirthday",
			           u.phone "userPhone",
			           h.hospital_name "hospitalName",
			           h.phone "hospitalPhone",
			           d.doctor_name "doctorName",
			           s.print_status "printStatus",
			           c.clinic_date "perscriptionDate",
			           s.send_status "sendStatus",
			           s.rejection "rejection",
			           s.pharmacy_selectno "pharmacySelectno",
			           p.pharmacy_name "pharmacyName"
			    FROM clinic c 
			    LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
			    JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
			    JOIN hospital h ON c.hospital_id = h.hospital_id
			    JOIN reservation r ON c.reserve_no = r.reserve_no
			    JOIN doctor d ON r.doctor_no = d.doctor_no
			    JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
			    JOIN pharmacy p ON s.pharmacy_id = p.pharmacy_id
			    WHERE s.print_status = 'd2'
			    AND s.send_status = 'Y'
			    AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
			    AND s.rejection IS NULL
			    AND s.produce_status = 'f1'
			    AND s.pharmacy_id = #{pharmacyId}
			    <include refid="searchP"></include>
			    ORDER BY c.clinic_no
			)  z WHERE  <![CDATA[ ROWNUM <= #{page} * 5     ]]> 	) x		WHERE rn > (#{page} - 1) * 5
		
	</select>
	<select id="percountcurr" resultType="int">
		SELECT COUNT(*)
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
		  JOIN hospital h ON c.hospital_id = h.hospital_id
		  JOIN reservation r ON c.reserve_no = r.reserve_no
		  JOIN doctor d ON r.doctor_no = d.doctor_no
		  JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
		 WHERE s.print_status = 'd2'
		   AND s.send_status = 'Y'
		   AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
		   AND s.rejection IS NULL
		   AND s.select_pharmacyid = #{pharmacyId}
		 <include refid="searchP"></include>
	</select>
	
	<!-- 처방내역 -->
	<select id="selectLastPerList" resultType="Map">

	      SELECT *   FROM (   SELECT z.*,ROWNUM AS rn 	FROM (
			    SELECT 
			           c.patient_no "patientNo",
			           c.clinic_no "clinicNo",
			           c.hospital_id "hospitalId",
			           c.reserve_no "reserveNo",
			           c.perscription_yn "perscriptionYn",
			           a.user_id "patientUserId",
			           u.user_name "userName",
			           u.birthday "userBirthday",
			           u.phone "userPhone",
			           h.hospital_name "hospitalName",
			           h.phone "hospitalPhone",
			           d.doctor_name "doctorName",
			           s.print_status "printStatus",
			           c.clinic_date "perscriptionDate",
			           s.send_status "sendStatus",
			           s.rejection "rejection"
			    FROM clinic c 
			    LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
			    JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
			    JOIN hospital h ON c.hospital_id = h.hospital_id
			    JOIN reservation r ON c.reserve_no = r.reserve_no
			    JOIN doctor d ON r.doctor_no = d.doctor_no
			    JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
			    WHERE s.print_status = 'd2'
			    AND s.send_status = 'Y'
			    AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
			    AND s.rejection IS NULL
			    AND s.select_pharmacyid = #{pharmacyId}
			    <include refid="searchP"></include>
			    ORDER BY c.clinic_no
			    )  z WHERE   <![CDATA[ ROWNUM <= #{page} * 5     ]]> 	) x		WHERE rn > (#{page} - 1) * 5

	</select>
	<!-- 약국 페이징(처방내역) -->
	<select id="perLastcount" resultType="int">
		SELECT COUNT(*)
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
          JOIN hospital h ON c.hospital_id = h.hospital_id
          JOIN reservation r ON c.reserve_no = r.reserve_no
          JOIN doctor d ON r.doctor_no = d.doctor_no
          JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
          WHERE s.print_status = 'd2'
          AND s.send_status = 'Y'
          AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
          AND s.rejection IS NULL
          AND s.produce_status = 'f1'
          AND s.pharmacy_id = #{pharmacyId}
          <include refid="searchP"></include>
	</select>

   <!-- 약국 공통 if search 쿼리 -->
   <sql id="searchP">
      <if test="keyword != null and keyword != ''">
            <if test="type == 1">
              AND user_name LIKE '%'|| #{keyword} ||'%'
            </if>
            <if test="type == 2">
             AND hospital_name LIKE '%'|| #{keyword} ||'%'
            </if>
       </if>
   </sql>
	
	<!-- 출력 상태 update -->
   <update id="printupdate" parameterType="int">
   	UPDATE pharmacy_select 
   	   SET print_status = 'd2' 
   	 WHERE clinic_no = #{clinicNo}
   </update>
   
   <!-- 출력 약국 insert -->
   <update id="insertprintpharmacy" parameterType="PharmacySelectVO">
   	UPDATE pharmacy_select 
	   SET select_pharmacyid = #{pharmacyId}
	 WHERE pharmacy_selectno = #{pharmacySelectno}
   </update>
</mapper>