<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcome.project.pharmacy.mapper.PharmacyMapper">
	<!-- 약국 상세 조회 -->
	<select id="selectPharmacyInfo" resultType="PharmacyVO">
		SELECT   pharmacy_id
		       , pharmacy_name
		       , address
		       , pharmacy_phone
		       , pharmacy_fax
		       , pharmacy_img
		       , ceo_name
		       , ceo_phone
		       , ceo_license
		       , pharmacy_status
		       , holiday
		       , opentime
		       , closetime
		       , joindate
		  FROM PHARMACY
		 WHERE pharmacy_id = #{pharmacyId}
	</select>
	<!-- 약국별 처방 현황 조회 -->
	<select id="selectPrescriptionList" resultType="Map">
		SELECT   c.patient_no               "patientNo"
			   , c.clinic_no                "clinicNo"
               , c.hospital_id              "hospitalId"
		       , c.reserve_no               "reserveNo"
               , c.perscription_yn          "perscriptionYn"
		       , a.user_id                  "patientUserId"
		       , u.user_name                "userName"
		       , u.birthday                 "userBirthday"
		       , u.phone                    "userPhone"
               , h.hospital_name            "hospitalName"
		       , h.phone                    "hospitalPhone"
               , d.doctor_name              "doctorName"
               , s.print_status             "printStatus"
		       , c.clinic_date        "perscriptionDate"
               , s.send_status              "sendStatus"
		       , s.rejection                "rejection"
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
          JOIN hospital h ON c.hospital_id = h.hospital_id
          JOIN reservation r ON c.reserve_no = r.reserve_no
          JOIN doctor d ON r.doctor_no = d.doctor_no
          JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
          WHERE s.print_status = '출력대기'
          AND s.send_status = 'Y'
          AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
          AND s.rejection IS NULL
          AND s.pharmacy_id = #{pharmacyId}
	</select>
	<!-- 지난 처방 내역 -->
	<select id="selectLastPerList" resultType="Map">
		SELECT   c.patient_no               "patientNo"
			   , c.clinic_no                "clinicNo"
               , c.hospital_id              "hospitalId"
		       , c.reserve_no               "reserveNo"
               , c.perscription_yn          "perscriptionYn"
		       , a.user_id                  "patientUserId"
		       , u.user_name                "userName"
		       , u.birthday                 "userBirthday"
		       , u.phone                    "userPhone"
               , h.hospital_name            "hospitalName"
		       , h.phone                    "hospitalPhone"
               , d.doctor_name              "doctorName"
               , s.print_status             "printStatus"
		       , c.clinic_date        "perscriptionDate"
               , s.send_status              "sendStatus"
		       , s.rejection                "rejection"
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
          JOIN hospital h ON c.hospital_id = h.hospital_id
          JOIN reservation r ON c.reserve_no = r.reserve_no
          JOIN doctor d ON r.doctor_no = d.doctor_no
          JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
          WHERE s.print_status = '출력완료'
          AND s.send_status = 'Y'
          AND to_char(c.clinic_date, 'yyyy-MM-dd' ) = #{date}
          AND s.rejection IS NULL
          AND s.pharmacy_id = #{pharmacyId}
	</select>
	<!-- 약 주성분 검색 -->
	<select id="searchMedicine" resultType="MedicineVO">
		SELECT medicine_code
			   , medicine_name
			   , ingredient
			   , entp_name 
		  FROM medicine
		 WHERE ingredient LIKE '%{#keyword}%'
	</select>
	<!-- 처방전 미리보기 -->
	<select id="perscription"
		resultType="PharmacySelectVO">
		SELECT medicine_name
			   ,dosage
		       ,dose_cnt
		       ,dose_day
		  FROM perscription p join medicine d
		    ON (p.medicine_no = d.medicine_no)
		 WHERE clinic_no =#{clinicNo}
	</select>
	<!-- 처방전 반환 -->
	<update id="updaterejection" parameterType="PharmacySelectVO">
		UPDATE pharmacy_select 
		   SET rejection = #{rejection} 
		 WHERE clinic_no = #{clinicNo}
		   AND pharmacy_id = #{pharmacyId}
	</update>
	<!-- 약국 페이징(처방현황) -->
	<select id="percount" resultType="java.lang.Integer">
	    SELECT COUNT(*)
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
		  JOIN hospital h ON c.hospital_id = h.hospital_id
		  JOIN reservation r ON c.reserve_no = r.reserve_no
		  JOIN doctor d ON r.doctor_no = d.doctor_no
		  JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
		 WHERE s.print_status = '출력대기'
		   AND s.send_status = 'Y'
		   AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
		   AND s.rejection IS NULL
		   AND s.pharmacy_id = #{pharmacyId};
	</select>
	<!-- 약국 페이징(처방내역) -->
	<select id="perLastcount" resultType="Map">
		SELECT COUNT(*)
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
          JOIN hospital h ON c.hospital_id = h.hospital_id
          JOIN reservation r ON c.reserve_no = r.reserve_no
          JOIN doctor d ON r.doctor_no = d.doctor_no
          JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
          WHERE s.print_status = '출력완료'
          AND s.send_status = 'Y'
          AND to_char(c.clinic_date, 'yyyy-MM-dd' ) = #{date}
          AND s.rejection IS NULL
          AND s.pharmacy_id = #{pharmacyId}
	</select>
	
	<!-- 처방현황 페이징 -->
<!-- 	<select id="perListpage" resultMap="Map">
		SELECT *
		  FROM (
		    SELECT 
		           c.patient_no "patientNo",
		           c.clinic_no "clinicNo",
		           c.hospital_id "hospitalId",
		           c.reserve_no "reserveNo",
		           c.perscription_yn "perscriptionYn",
		           a.user_id "patientUserId",
		           u.user_name "userName",
		           u.birthday "userBirthday",
		           u.phone "userPhone",
		           h.hospital_name "hospitalName",
		           h.phone "hospitalPhone",
		           d.doctor_name "doctorName",
		           s.print_status "printStatus",
		           c.clinic_date "perscriptionDate",
		           s.send_status "sendStatus",
		           s.rejection "rejection",
		           ROWNUM AS rn
		    FROM clinic c 
		    LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		    JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
		    JOIN hospital h ON c.hospital_id = h.hospital_id
		    JOIN reservation r ON c.reserve_no = r.reserve_no
		    JOIN doctor d ON r.doctor_no = d.doctor_no
		    JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
		    WHERE s.print_status = '출력대기'
		    AND s.send_status = 'Y'
		    AND to_char(c.clinic_date, 'yyyy-MM-dd') = #{date}
		    AND s.rejection IS NULL
		    AND s.pharmacy_id = #{pharmacyId}
		    ORDER BY c.clinic_date
		)
		WHERE rn >= #{start} AND rn <= #{end};
	</select> -->
	<!-- 처방 내역 페이징 -->
	<select id="perLastListpage" resultMap="Map">
		SELECT   c.patient_no               "patientNo"
			   , c.clinic_no                "clinicNo"
               , c.hospital_id              "hospitalId"
		       , c.reserve_no               "reserveNo"
               , c.perscription_yn          "perscriptionYn"
		       , a.user_id                  "patientUserId"
		       , u.user_name                "userName"
		       , u.birthday                 "userBirthday"
		       , u.phone                    "userPhone"
               , h.hospital_name            "hospitalName"
		       , h.phone                    "hospitalPhone"
               , d.doctor_name              "doctorName"
               , s.print_status             "printStatus"
		       , c.clinic_date        "perscriptionDate"
               , s.send_status              "sendStatus"
		       , s.rejection                "rejection"
		  FROM clinic c 
		  LEFT JOIN patient a ON (c.patient_no = a.patient_no AND c.hospital_id = a.hospital_id)
		  JOIN usertable u ON (a.user_id = u.user_id AND c.hospital_id = a.hospital_id)
          JOIN hospital h ON c.hospital_id = h.hospital_id
          JOIN reservation r ON c.reserve_no = r.reserve_no
          JOIN doctor d ON r.doctor_no = d.doctor_no
          JOIN pharmacy_select s ON c.clinic_no = s.clinic_no
          WHERE s.print_status = '출력완료'
          AND s.send_status = 'Y'
          AND to_char(c.clinic_date, 'yyyy-MM-dd' ) = #{date}
          AND s.rejection IS NULL
          AND s.pharmacy_id = #{pharmacyId}
        LIMIT #{offset}, #{limit}
	</select>
</mapper>