<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>UserList</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3" style="margin-top: 20px;">
					<h4 class="m-0 font-weight-bold">
						<i class="fas fa-fw fa-capsules"></i> 약국 승인 업무
					</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<th:block th:each="pharmarcy : ${grantlist}"
							th:if="${pharmarcy.pharmacyStatus == 'b1  '}">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>아이디</th>
										<th>약국명</th>
										<th>주소</th>
										<th>전화번호</th>
										<th>약국이미지</th>
										<th>대표자명</th>
										<th>대표자번호</th>
										<th>영업상태</th>
										<th>가입날짜</th>
										<th>승인</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td th:text="${pharmarcy.pharmacyId}"></td>
										<td th:text="${pharmarcy.pharmacyName}"></td>
										<td th:text="${pharmarcy.address}"></td>
										<td th:text="${pharmarcy.pharmacyPhone}"></td>
										<td th:text="${pharmarcy.pharmacyImg}"></td>
										<td th:text="${pharmarcy.ceoName}"></td>
										<td th:text="${pharmarcy.ceoPhone}"></td>
										<td th:if="${pharmarcy.pharmacyStatus == 'b1  '}">승인대기</td>
										<td th:if="${pharmarcy.pharmacyStatus == 'b2  '}">영업중</td>
										<td
											th:text="${#dates.format(pharmarcy.joindate, 'yyyy-MM-dd')}"></td>
										<td><button class="btn btn-warning"
												th:onclick="pharmarcyupdate([[${pharmarcy.pharmacyId}]])">승인</button></td>
									</tr>
								</tbody>
							</table>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
<script>
	function pharmarcyupdate(pid) {
		$.ajax("/admin/pharmacy/grant/"+pid, {
	          type: "post"
	        }).done((result) => {
	            console.log("Insert", result);
	            alert("약국 승인 처리되었습니다!!!!!");
	            location.reload();
	          })
	          .fail((err) => console.log(err));
		
	}
</script>