<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">

<head>
<meta charset="UTF-8">
<title>UserList</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet" />
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3" style="margin-top: 20px;">
					<h4 class="m-0 font-weight-bold">
						<i class="fas fa-fw fa-hospital-user"></i> 병원 승인 업무
					</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
							<th:block th:if="${grantlisth.empty}">
						        <p>승인 대기 목록이 없습니다.</p>
						    </th:block>
						    <th:block th:if="${not grantlisth.empty}">
							<table class="table table-bordered" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>병원아이디</th>
										<th>병원명</th>
										<th>주소</th>
										<th>전화번호</th>
										<th>병원이미지</th>
										<th>진료과목</th>
										<th>대표자명</th>
										<th>대표자번호</th>
										<th>영업상태</th>
										<th>가입날짜</th>
										<th>승인</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="hospital : ${grantlisth}">
										<td th:text="${hospital.hospitalId}"></td>
										<td th:text="${hospital.hospitalName}"></td>
										<td th:text="${hospital.address}"></td>
										<td th:text="${hospital.phone}"></td>
										<!-- <td th:text="${hospital.hospitalImg}"></td> -->
										<td><img th:src="@{/images/}+${hospital.hospitalImg}"
											alt="image" width="50px" /></td>
										<td th:text="${hospital.mainSubject}"></td>
										<td th:text="${hospital.directorName}"></td>
										<td th:text="${hospital.directorPhone}"></td>
										<td th:if="${hospital.hospitalStatus == 'b1'}">승인대기</td>
										<td th:if="${hospital.hospitalStatus == 'b2'}">영업중</td>
										<td
											th:text="${#dates.format(hospital.joindate, 'yyyy-MM-dd')}"></td>
										<td><button class="btn btn-warning"
												th:onclick="hospitalupdate([[${hospital.hospitalId}]])">승인</button></td>
									</tr>
								</tbody>
							</table>
							</th:block>
					</div>
				</div>
			</div>
		</div>
		<!-- 페이징 컴포넌트 -->
		<nav aria-label="Page navigation" th:if="${grantlisth.totalPages} > 0">
			<ul class="pagination justify-content-center">
				<li
					th:class="${grantlisth.first ? 'page-item disabled' : 'page-item'}">
					<a class="page-link" th:href="@{/admin/pharmacy(pageNo=0)}" tabindex="-1" aria-disabled="true">Previous</a>
				</li>
				<li th:each="i : ${#numbers.sequence(0, grantlisth.totalPages - 1)}"
					th:class="${i == grantlisth.number ? 'page-item active' : 'page-item'}">
					<a class="page-link" th:href="@{/admin/pharmacy(pageNo=${i})}" th:text="${i + 1}"></a>
				</li>
				<li
					th:class="${grantlisth.last ? 'page-item disabled' : 'page-item'}">
					<a class="page-link"
					th:href="@{/admin/pharmacy(pageNo=${grantlisth.totalPages - 1})}">Next</a>
				</li>
			</ul>
		</nav>
	</div>
</body>
</html>
<script>
	function hospitalupdate(hid) {
		var upbtn = $(event.target);
		$.ajax("/admin/hospital/grant/"+hid, {
	          type: "post"
	        }).done((result) => {
	            console.log("Insert", result);
	            if(result != null) {
	            	upbtn.closest('tr').remove();
	            	swal.fire({
				  	icon: "success",
				  	text: "병원 승인 처리 완료"
					});
	            } else {
	            	swal.fire({
					  	icon: "error",
					  	text: "병원 승인 처리 실패"
					});
	            }
	            
	          })
	          .fail((err) => console.log(err));
		
	}
</script>