<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}"
>
<head>
<meta charset="UTF-8">
<title>UserList</title>
</head>
<body>
	<div layout:fragment="content">
		<table class="table">
			<thead>
				<tr>
					<th>아이디</th>
					<th>이름</th>
					<th>전화번호</th>
					<th>생년월일</th>
					<th>성별</th>
					<th>구분</th>
					<th>가입날짜</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usertable : ${list}">
					<td th:text="${usertable.userId}"></td>
					<td th:text="${usertable.userName}"></td>
					<td th:text="${usertable.phone}"></td>
					<td th:text="${usertable.birthday}"></td>
					<td th:text="${usertable.gender}"></td>
					<td th:text="${usertable.userStatus}"></td>
					<td th:text="${usertable.joindate}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>