<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<style>
thead {
	background-color: #c7cbcc;
}
.table-responsive {
    border-radius: 8px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3" style="margin-top: 20px;">
					<h4 class="m-0 font-weight-bold">
						<i class="fas fa-fw fa-capsules"></i> 약국 승인 업무
					</h4>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<th:block th:if="${grantlistp.empty}">
					        <p>승인 대기 목록이 없습니다.</p>
					    </th:block>
					    <th:block th:if="${not grantlistp.empty}">
							<table class="table table-hover" id="dataTable" width="100%"
								cellspacing="0">
								<thead>
									<tr>
										<th>아이디</th>
										<th>약국명</th>
										<th>주소</th>
										<th>전화번호</th>
										<th>약국이미지</th>
										<th>대표자명</th>
										<th>대표자번호</th>
										<th>영업상태</th>
										<th>가입날짜</th>
										<th>승인</th>
									</tr>
								</thead>
								<tbody>
								<th:block th:each="pharmarcy : ${grantlistp}"
									th:if="${grantlistp} != null">
									<tr>
										<td th:text="${pharmarcy.pharmacyId}"></td>
										<td th:text="${pharmarcy.pharmacyName}"></td>
										<td th:text="${pharmarcy.address}"></td>
										<td th:text="${pharmarcy.pharmacyPhone}"></td>
										<td><img src="/images/pharmacy.png"
											alt="image" width="50px" /></td>
										<td th:text="${pharmarcy.ceoName}"></td>
										<td th:text="${pharmarcy.ceoPhone}"></td>
										<td><th:block th:each="detailCode : ${application.detailCode_b}" >
											<span th:if="${detailCode.detailCode} == ${pharmarcy.pharmacyStatus}" th:text="${detailCode.codeName}"></span>
										</th:block></td>
										<td
											th:text="${#dates.format(pharmarcy.joindate, 'yyyy-MM-dd')}"></td>
										<td><button class="btn btn-warning"
												th:onclick="pharmarcyupdate([[${pharmarcy.pharmacyId}]])">승인</button></td>
									</tr>
								</th:block>
							</tbody>
							</table>
							</th:block>
					</div>
				</div>
			</div>
		</div>
		<!-- 페이징 컴포넌트 -->
        <nav aria-label="Page navigation" th:if="${grantlistp.totalPages} > 0">
            <ul class="pagination justify-content-center">
                <li th:class="${grantlistp.first ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=0)}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, grantlistp.totalPages - 1)}" th:class="${i == grantlistp.number ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=${i})}" th:text="${i + 1}"></a>
                </li>
                <li th:class="${grantlistp.last ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=${grantlistp.totalPages - 1})}">Next</a>
                </li>
            </ul>
        </nav>
	</div>
</body>
</html>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet" />
<script th:inline="javascript">
function pharmarcyupdate(pid) {
	var upbtn = $(event.target);
	$.ajax("/admin/pharmacy/grant/"+pid, {
          type: "post"
        }).done((result) => {
            console.log("Insert", result);
            if(result != null) {
            	upbtn.closest('tr').remove();
            	swal.fire({
			  	icon: "success",
			  	text: "약국 승인 처리 완료"
				});
            } else {
            	swal.fire({
				  	icon: "error",
				  	text: "약국 승인 처리 실패"
				});
            }
          })
          .fail((err) => console.log(err));
	
}

</script>