<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">
<head>
<meta charset="UTF-8">
<title>UserList</title>
<style>
  .catCal {
    display: flex;
    justify-content: space-between;
    margin: 25px 0px 0px 21px;
  }
  input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + label {
    background-color: #5a5c69;
    color: #fff;
  }
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div class="card shadow mb-4">
				<div class="card-header py-3" style="margin-top: 20px;">
					<h4 class="m-0 font-weight-bold">
						<i class="fas fa-fw fa-capsules"></i> 약국 사용자
					</h4>
				</div>
				<div class="catCal">
		            <div
		              class="btn-group"
		              role="group"
		              aria-label="Basic radio toggle button group"
		              style="margin-bottom: 20px"
		            >
		            <input
		                type="radio"
		                class="btn-check"
		                name="btnradio"
		                id="btnradio1"
		                autocomplete="off"
		                onclick="location.href='/admin/pharmacy?pharmacyStatus=b2'"
                		th:checked="${#strings.equals(param.pharmacyStatus, 'b2')}"
		              />
		              <label
		                class="btn btn-outline-dark"
		                for="btnradio1"
		                style="
		                  border-top-left-radius: 0.35rem;
		                  border-bottom-left-radius: 0.35rem;"
		                
		                >영업중</label
		              >
		              <input
		                type="radio"
		                class="btn-check"
		                name="btnradio"
		                id="btnradio2"
		                autocomplete="off"
		                th:checked="${#strings.equals(param.pharmacyStatus, 'b3')}"
		                onclick="window.location.href='/admin/pharmacy?pharmacyStatus=b3'"
		              />
		              <label class="btn btn-outline-dark" for="btnradio2" 
		                >영업종료</label
		              >
		            </div>
		          </div>
				
				<div class="card-body">
					<div class="table-responsive">
						<table class="table table-bordered" id="dataTable" width="100%"
							cellspacing="0">
							<thead>
								<tr>
									<th>아이디</th>
									<th>약국명</th>
									<th>주소</th>
									<th>전화번호</th>
									<th>약국이미지</th>
									<th>대표자명</th>
									<th>대표자번호</th>
									<th>영업상태</th>
									<th>가입날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="pharmarcy : ${list}">
									<td th:text="${pharmarcy.pharmacyId}"></td>
									<td th:text="${pharmarcy.pharmacyName}"></td>
									<td th:text="${pharmarcy.address}"></td>
									<td th:text="${pharmarcy.pharmacyPhone}"></td>
									<td><img th:src="@{/images/}+${pharmarcy.pharmacyImg}"
										alt="image" width="50px" /></td>
									<td th:text="${pharmarcy.ceoName}"></td>
									<td th:text="${pharmarcy.ceoPhone}"></td>
									<td th:if="${pharmarcy.pharmacyStatus == 'b1'}">승인대기</td>
									<td th:if="${pharmarcy.pharmacyStatus == 'b2'}">영업중</td>
									<td
										th:text="${#dates.format(pharmarcy.joindate, 'yyyy-MM-dd')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- 페이징 컴포넌트 -->
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li th:class="${list.first ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=0, pharmacyStatus=${param.pharmacyStatus})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, list.totalPages - 1)}" th:class="${i == list.number ? 'page-item active' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=${i}, pharmacyStatus=${param.pharmacyStatus})}" th:text="${i + 1}"></a>
                </li>
                <li th:class="${list.last ? 'page-item disabled' : 'page-item'}">
                    <a class="page-link" th:href="@{/admin/pharmacy(pageNo=${list.totalPages - 1}, pharmacyStatus=${param.pharmacyStatus})}">Next</a>
                </li>
            </ul>
        </nav>
	</div>
</body>
</html>