<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/adminLayout}">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<style>
#dashname {
	margin: 10px 10px
}

#logout {
	display: flex;
	justify-content: right;
	padding-right: 30px;
}
</style>
</head>

<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<p id="dashname">Admin Dashboard</p>
			<div class="row">
				<!-- Earnings (Monthly) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
										일반 사용자 수</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">[[${totalCount}]]</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-calendar fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Earnings (Annual) Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
										병원 사용자 수</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">[[${totalCounth}]]</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Pending Requests Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
										약국 사용자 수</div>
									<div class="h5 mb-0 font-weight-bold text-gray-800">[[${totalCountp}]]</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-comments fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<!-- Tasks Card Example -->
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2">
									<div
										class="text-xs font-weight-bold text-info text-uppercase mb-1">Rate(n-f)
									</div>
									<div class="row no-gutters align-items-center">
										<div class="col-auto">
											<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">62%</div>
										</div>
										<div class="col">
											<div class="progress progress-sm mr-2">
												<div class="progress-bar bg-info" role="progressbar"
													style="width: 62%" aria-valuenow="62" aria-valuemin="0"
													aria-valuemax="100"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-auto">
									<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			<div class="card-body" style="display: flex; justify-content: space-around;">
				<div class="card shadow mb-4">
					<div class="left">
						<div>
							<h5 class="m-0 font-weight-bold text-secondary">병원 승인 대기 목록</h5>
						</div>
						<table class="table">
							<thead>
								<tr>
									<th>병원아이디</th>
									<th>병원명</th>
									<th>전화번호</th>
									<th>진료과목</th>
									<th>영업상태</th>
									<th>신청날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listh : ${grantlisth}">
									<td th:text="${listh.hospitalId}"></td>
									<td th:text="${listh.hospitalName}"></td>
									<td th:text="${listh.phone}"></td>
									<td th:text="${listh.mainSubject}"></td>
									<td th:text="${listh.hospitalStatus}"></td>
									<td th:text="${#dates.format(listh.joindate, 'yyyy-MM-dd')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<div class="card shadow mb-4">
					<div class="right">
						<h5 class="m-0 font-weight-bold text-secondary">약국 승인 대기 목록</h5>
						<table class="table">
							<thead>
								<tr>
									<th>아이디</th>
									<th>약국명</th>
									<th>전화번호</th>
									<th>영업상태</th>
									<th>신청날짜</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listp : ${grantlistp}">
									<td th:text="${listp.pharmacyId}"></td>
									<td th:text="${listp.pharmacyName}"></td>
									<td th:text="${listp.pharmacyPhone}"></td>
									<td th:text="${listp.pharmacyStatus}"></td>
									<td th:text="${#dates.format(listp.joindate, 'yyyy-MM-dd')}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<!-- 모달 -->
			<div class="modal fade" tabindex="-1" id="toggleMyModal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">승인 업무</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<p>병원 사용자 승인 건수 [[${grantlisth.totalPages}]]건</p>

							<p>약국 사용자 승인 건수 [[${grantlistp.totalPages}]]건</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="user-logout-link" id="logout">
				<a th:href="@{/logout}" class="btn btn-primary">Logout</a>
		</div>
	</div>

</body>

</html>
<script th:inline="javascript">
	var openmodal = sessionStorage.getItem('autosave');
	if (openmodal != 'y') {
		var myModal = new bootstrap.Modal(document.getElementById('toggleMyModal'), {
			keyboard: false,
		});

		var modalToggle = document.getElementById('toggleMyModal');
		myModal.show(modalToggle);
		sessionStorage.setItem('autosave', 'y');
	}
</script>