<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drcome.project.challenge.mapper.ChallengeMapper">
	<select id="getAllTodoList" resultType="ChallengeVO">
		SELECT challenge_no
			   , challenge_date
			   , challenge_content
			   , user_id
			   , success
		  FROM challenge 
		 WHERE user_id = #{userId}
		   AND success = 'N'
		   AND to_char(challenge_date, 'yyyy-MM-dd') = #{date}
	  ORDER BY challenge_no
	</select>
	
	<select id="getCompletedTodoList" resultType="ChallengeVO">
		SELECT challenge_no
			   , challenge_date
			   , challenge_content
			   , user_id
			   , success 
		  FROM challenge 
		 WHERE user_id= #{userId}
		   AND success = 'Y'
		   AND to_char(challenge_date, 'yyyy-MM-dd') = #{date}
	  ORDER BY challenge_no
	</select>
	
	<select id="selectToDo" resultType="ChallengeVO">
		SELECT challenge_no
			   , challenge_date
			   , challenge_content
			   , user_id
			   , success
		  FROM challenge 
		 WHERE user_id= #{userId}
		   AND challenge_no = #{challengeNo}
	</select>
	
	<insert id="addTodoList">
	<selectKey resultType="int" keyProperty="challengeNo" order="BEFORE"> 
		select chall_seq.NEXTVAL from dual
	</selectKey>
		INSERT INTO challenge(challenge_no, challenge_date, challenge_content, user_id) 
		VALUES (#{challengeNo}, #{challengeDate}, #{challengeContent}, #{userId})
	</insert>
	
	<delete id="deleteTodo">
		DELETE 
		  FROM challenge 
		 WHERE challenge_no = #{challengeNo}
		   AND user_id= #{userId}
	</delete>
	
	<update id="updateTodoList">
		UPDATE challenge 
		   SET success = 'Y' 
		 WHERE challenge_no = #{challengeNo} 
		   AND user_id = #{userId}
	</update>
	
	<update id="updatecancleTodoList">
		UPDATE challenge 
		   SET success = 'N' 
		 WHERE challenge_no = #{challengeNo} 
		   AND user_id = #{userId}
	</update>
	<!-- countall -->
	<select id="countAll" resultType="Map">
		SELECT to_char(challenge_date, 'yyyy-MM-dd') as "start", 
				CASE WHEN allcnt = successcnt THEN 'success' ELSE 'fail' END as "title"
		 from ( SELECT challenge_date, COUNT(*) AS allcnt , SUM(CASE WHEN success = 'Y'THEN 1 ELSE 0 END) as successcnt
        		  FROM challenge
        		  WHERE user_id = #{userId}
		          GROUP BY challenge_date
		      )
	</select>
	<select id="reserveList" resultType="Map">
		SELECT TO_CHAR(TO_DATE(reserve_year || '-' || reserve_month || '-' || reserve_day || ' ' || reserve_time, 'YYYY-MM-DD HH24:MI'), 'YYYY-MM-DD HH24:MI') as "start"
			   ,(select hospital_name from hospital where hospital_id = r.hospital_id) as "title"
		  FROM reservation r
		 WHERE user_id = #{userId}
	</select>
</mapper>