<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />
		<title>의료기관 회원가입</title>

		<style>
			label {
				display: inline-block;
				width: 200px;
				margin-bottom: 5px;
			}

			.input-group {
				align-items: center;
				margin-bottom: 15px;
			}

			.input-group input,
			.input-group button {
				height: 30px;
			}

			.input-group input {
				width: 400px;
				margin-right: 10px;
				height: 32px;
				border: 0;
				outline: none;
				padding-left: 10px;
				background-color: rgb(233, 233, 233);
			}

			.input-group button {
				width: 150px;
			}

			.input-group-select {
				display: flex;
				align-items: center;
				margin-bottom: 15px;
			}

			.error-message {
				color: red;
				font-size: 0.8em;
			}

			#filePreview {
				max-width: 100%;
				max-height: 150px;
				margin-top: 10px;
				display: none;
			}

			.modal {
				text-align: center;
			}

			.modal-dialog {
				display: flex !important;
				align-items: center;
				justify-content: center;
			}

			#verification-section {
				display: none;
				align-items: center;
				margin-bottom: 15px;
			}

			#verification-section input,
			#verification-section button {
				height: 30px;
			}

			#verification-section button {
				width: 150px;
			}
		</style>

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet" />
		<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
		<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

		<script type="text/javascript">
			let verificationCode = '';

			document.addEventListener('DOMContentLoaded', function () {
				showHospitalForm();

				handleFilePreview();

				let fileInput = document.getElementById('mimg');

				fileInput.addEventListener('change', function () {
					const file = this.files[0];

					if (file) {
						loadImage(
							file,
							function (img) {
								const canvas = document.createElement('canvas');
								const ctx = canvas.getContext('2d');

								canvas.width = 200;
								canvas.height = 200;

								ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

								canvas.toBlob(
									function (blob) {
										console.log(blob);
									},
									'image/jpg',
									0.7
								);
							},
							{
								maxWidth: 200,
								maxHeight: 200,
								contain: true,
							}
						);
					}
				});
			});

			function showHospitalForm() {
				document.getElementById('hospitalForm').style.display = 'block';
				document.getElementById('pharmacyForm').style.display = 'none';
			}

			function showPharmacyForm() {
				document.getElementById('pharmacyForm').style.display = 'block';
				document.getElementById('hospitalForm').style.display = 'none';
			}

			function scsAlert(content) {
				Swal.fire({
					icon: 'success',
					text: content,
				});
			}

			function errAlert(content) {
				Swal.fire({
					icon: 'error',
					text: content,
				});
			}

			function checkId(id, errorMessageId, checkButtonId, checkUrl) {
				let userId = document.getElementById(id).value;
				let idErrorMessage = document.getElementById(errorMessageId);
				let checkDupliIdBtn = document.getElementById(checkButtonId);

				if (userId === '') {
					idErrorMessage.innerHTML = '아이디를 입력하세요.';
					idErrorMessage.style.color = 'red';
					checkDupliIdBtn.disabled = true;
					return false;
				}

				let idRegex = /^[a-zA-Z0-9]{5,20}$/;
				if (!idRegex.test(userId)) {
					idErrorMessage.innerHTML = '아이디는 5자에서 20자의 영문 대소문자 또는 숫자로 입력하세요.';
					idErrorMessage.style.color = 'red';
					checkDupliIdBtn.disabled = true;
					return false;
				}

				idErrorMessage.innerHTML = '';
				checkDupliIdBtn.disabled = false;
				return true;
			}

			function checkDupliId(id, checkUrl) {
				let checkId = $('#' + id).val();
				$.ajax({
					url: checkUrl,
					type: 'get',
				})
					.done((resp) => {
						if (resp == 1) {
							errAlert('이미 사용중인 아이디입니다.');
						} else {
							scsAlert('사용가능한 아이디입니다.');
						}
					})
					.fail((err) => {
						errAlert('오류 발생');
						console.log(err);
					});
			}

			function validatePassword(password, errorMessageId) {
				let passwordErrorMessage = document.getElementById(errorMessageId);

				if (password === '') {
					passwordErrorMessage.innerHTML = '비밀번호를 입력하세요.';
					passwordErrorMessage.style.color = 'red';
					return false;
				}

				let passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
				if (!passwordRegex.test(password)) {
					passwordErrorMessage.innerHTML =
						'비밀번호는 최소 8자 이상, 영문, 숫자, 특수문자를 포함해야 합니다.';
					passwordErrorMessage.style.color = 'red';
					return false;
				}

				passwordErrorMessage.innerHTML = '';
				return true;
			}

			function matchPasswords(password, rePassword, errorMessageId) {
				let rePasswordErrorMessage = document.getElementById(errorMessageId);

				if (password !== rePassword) {
					rePasswordErrorMessage.innerHTML = '비밀번호가 일치하지 않습니다.';
					rePasswordErrorMessage.style.color = 'red';
					return false;
				}

				rePasswordErrorMessage.innerHTML = '';
				return true;
			}

			function validateName(name, errorMessageId) {
				let nameErrorMessage = document.getElementById(errorMessageId);

				if (name === '') {
					nameErrorMessage.innerHTML = '이름을 입력하세요.';
					nameErrorMessage.style.color = 'red';
					return false;
				}

				nameErrorMessage.innerHTML = '';
				return true;
			}

			function searchAddress(addressElementId) {
				let address = document.getElementById(addressElementId);
				new daum.Postcode({
					oncomplete: function (data) {
						address.value = data.address;
						console.log(data.address);
					},
				}).open();
			}

			const autoHyphen = (target) => {
				target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{2,3})(\d{3,4})(\d{4})$/, `$1-$2-$3`);
			};

			const autoHyphenNum = (target) => {
				target.value = target.value.replace(/[^0-9]/g, '').replace(/^(\d{3})(\d{2})(\d{5})$/, `$1-$2-$3`);
			};

			function sendVerificationCode(phoneElementId, checkUrl) {
				let phone = $('#' + phoneElementId)
					.val()
					.replace(/-/g, '');
				let url = checkUrl + '?phoneNum=' + phone;

				$.ajax({
					url: url,
					type: 'get',
				})
					.done((resp) => {
						if (resp.checkNum != '중복') {
							scsAlert('인증번호 발송');
							verificationCode = resp.checkNum;
							document.getElementById('verification-section').style.display = 'flex';
						} else {
							errAlert('이미 등록된 전화번호입니다.');
						}
					})
					.fail((err) => {
						console.log(err);
					});
			}

			function checkPhoneNumber(enteredCode) {
				if (enteredCode == verificationCode) {
					scsAlert('인증 완료');
					return true;
				} else {
					errAlert('인증 번호가 일치하지 않습니다.');
					return false;
				}
			}

			function checkPhoneAndSendVerification(phoneElementId, checkUrl) {
				let isValidPhone = validatePhoneNumber(phoneElementId);
				if (isValidPhone) {
					sendVerificationCode(phoneElementId, checkUrl);
				}
			}

			function validatePhoneNumber(phoneElementId) {
				let phone = $('#' + phoneElementId).val();
				let phoneErrorMessage = document.getElementById('phoneErrorMessage');

				if (phone === '') {
					phoneErrorMessage.innerHTML = '전화번호를 입력하세요.';
					phoneErrorMessage.style.color = 'red';
					return false;
				}
				phoneErrorMessage.innerHTML = '';
				return true;
			}

			function checkHospitalId() {
				return checkId('hospitalId', 'idErrorMessageHospital', 'idcheckHospital', '/auth/checkId?userId=');
			}

			function checkDupliHospitalId() {
				checkDupliId('hospitalId', '/auth/checkId?userId=');
			}

			function checkHospitalPassword() {
				let password = document.getElementById('pwHospital').value;
				return validatePassword(password, 'pwErrorMessageHospital');
			}

			function checkHospitalPasswordMatch() {
				let password = document.getElementById('pwHospital').value;
				let rePassword = document.getElementById('pwHospitalcheck').value;
				return matchPasswords(password, rePassword, 'rePasswordErrorMessageHospital');
			}

			function checkHospitalName() {
				let name = document.getElementById('hospitalName').value;
				return validateName(name, 'nameErrorMessageHospital');
			}

			function searchHospitalAddress() {
				searchAddress('hospitalAdd');
			}

			function uploadImg() {
				let formData = new FormData();
				let inputFile = document.querySelector('#mimg').files[0];
				for (var i = 0; i < inputFile.length; i++) {
					console.log(inputFile[i]);
					formData.append('uploadFiles', files[i]);
				}
			}

			function handleFilePreview() {
				let fileInput = document.getElementById('mimg');
				let filePreview = document.getElementById('filePreview');

				fileInput.addEventListener('change', function () {
					const file = this.files[0];

					if (file) {
						const reader = new FileReader();

						reader.onload = function (e) {
							filePreview.src = e.target.result;
							filePreview.style.display = 'block';
						};

						reader.readAsDataURL(file);
					} else {
						filePreview.style.display = 'none';
					}
				});
			}

			function checkLicense() {
				let registrationNumber = $('#mceolicense').val().replace(/-/g, '');
				let url =
					'https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=xzADYrvAUisAVDob8yaz4gaeTvaJVrxJG5M93Ihkj5IDQgqmpN%2FejAdm26cz1BsmATLApRLmj7HWYVfgqvwnKw%3D%3D';

				$.ajax({
					url: url,
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify({
						b_no: [registrationNumber],
					}),
					success: function (response) {
						// console.log(response.data);
						console.log(response.data[0]);
						if (response.data[0].b_stt_cd === '01') {
							Swal.fire({
								title: '계속사업자',
								icon: 'success',
							});
						} else if (response.data[0].b_stt_cd === '02') {
							Swal.fire({
								title: '휴업중인 사업자 번호입니다',
								icon: 'warning',
							});
						} else if (response.data[0].b_stt_cd === '03') {
							Swal.fire({
								title: '폐업한 사업자 번호입니다',
								icon: 'error',
							});
						} else {
							Swal.fire({
								title: '등록되지 않은 사업자 번호입니다',
								icon: 'error',
							});
						}
					},
					error: function (err) {
						console.log(err);
					},
				});
			}

			function checkAgreement() {
				let agreement = document.getElementById('invalidCheck').checked;
				let agreementErrorMessage = document.getElementById('agreementErrorMessage');

				if (!agreement) {
					agreementErrorMessage.innerHTML = '약관에 동의해야 합니다.';
					agreementErrorMessage.style.color = 'red';
					return false;
				}

				agreementErrorMessage.innerHTML = '';
				return true;
			}

			function openModal() {
				let myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
				myModal.show();
			}

			function submitForm(event) {
				event.preventDefault();

				const formData = new FormData(document.getElementById('medicalForm'));

				$.ajax({
					url: '/medicaljoin',
					type: 'post',
					processData: false,
					contentType: false,
					data: formData,
					success: function (resp) {
						console.log(resp);
						if (resp.result) {
							Swal.fire({
								icon: 'success',
								text: resp.msg,
							}).then(function () {
								location.href = '/userlogin';
							});
						} else {
							Swal.fire({
								icon: 'error',
								text: resp.msg,
							}).then(function () {
								location.reload();
							});
						}
					},
				});
			}
		</script>
	</head>

	<body>
		<div layout:fragment="content">
			<div class="container">
				<h3>의료기관 회원가입</h3>
				<ul class="nav nav-tabs">
					<li class="nav-item">
						<a class="nav-link active" href="#" onclick="showHospitalForm()">병원</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#" onclick="showPharmacyForm()">약국</a>
					</li>
				</ul>
				<form
					id="hospitalForm"
					onsubmit="submitForm(event, 'hospitalForm')"
					enctype="multipart/form-data"
					method="post"
				>
					<br />
					<div class="input-group">
						<label>아이디</label>
						<input
							type="text"
							name="hospitalId"
							id="hospitalId"
							placeholder="아이디를 입력하세요"
							required
							oninput="checkHospitalId()"
						/>
						<button type="button" id="idcheckHospital" onclick="checkDupliHospitalId()" disabled>
							중복 확인
						</button>
						<span id="idErrorMessageHospital" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>비밀번호</label>
						<input
							type="password"
							name="hospitalPw"
							id="pwHospital"
							placeholder="비밀번호를 입력하세요"
							required
							oninput="checkHospitalPassword()"
						/>
						<span id="pwErrorMessageHospital" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>비밀번호 확인</label>
						<input
							type="password"
							id="pwHospitalcheck"
							placeholder="비밀번호를 다시 입력하세요"
							required
							oninput="checkHospitalPasswordMatch()"
						/>
						<span id="rePasswordErrorMessageHospital" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>병원 이름</label>
						<input
							type="text"
							name="hospitalName"
							id="hospitalName"
							placeholder="이름을 입력하세요"
							required
							oninput="checkHospitalName()"
						/>
						<span id="nameErrorMessageHospital" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>병원 주소</label>
						<input type="text" name="address" id="hospitalAdd" required />
						<input
							type="button"
							id="maddcheck"
							class="btn btn-warning"
							value="주소검색"
							onclick="searchHospitalAddress()"
						/>
					</div>

					<div class="input-group">
						<label>전화번호</label>
						<input
							type="tel"
							name="phone"
							id="mphone"
							placeholder="전화번호를 입력하세요"
							required
							maxlength="10"
							oninput="autoHyphen(this)"
						/>
					</div>

					<div class="input-group">
						<label>대표 사진</label>
						<input type="file" name="uploadFiles" id="mimg" />
						<img id="filePreview" alt="File Preview" />
					</div>

					<div class="input-group">
						<label>대표 진료 과목</label>
						<select name="mainSubject">
							<option selected>선택하세요</option>
							<th:block th:each="detailCode : ${application.detailCode_h}">
								<option th:value="${detailCode.detailCode}" th:text="${detailCode.codeName}"></option>
							</th:block>
						</select>
					</div>

					<div class="input-group">
						<label>휴무일</label>
						<th:block th:each="detailCode : ${application.detailCode_i}">
							<input
								type="checkbox"
								name="holiday"
								th:value="${detailCode.detailCode}"
								style="
									width: 20px;
									height: 20px;
									border: 2px solid #3498db;
									border-radius: 5px;
									margin-right: 10px;
									cursor: pointer;
									display: flex;
									align-items: center;
									justify-content: center;
									transition: background-color 0.3s;
								"
							/>
							<label
								th:for="${'hday' + detailCode.detailCode}"
								th:text="${detailCode.codeName}"
								style="width: 50px"
							></label>
							<br />
						</th:block>
					</div>

					<div class="input-group">
						<label>오픈 시간</label>
						<select name="opentime">
							<option selected>선택하세요</option>
							<th:block th:each="detailCode : ${application.detailCode_k}">
								<option th:value="${detailCode.codeName}" th:text="${detailCode.codeName}"></option>
							</th:block>
						</select>
					</div>

					<div class="input-group">
						<label>마감 시간</label>
						<select name="closetime">
							<option selected>선택하세요</option>
							<th:block th:each="detailCode : ${application.detailCode_k}">
								<option th:value="${detailCode.codeName}" th:text="${detailCode.codeName}"></option>
							</th:block>
						</select>
					</div>

					<hr />

					<div class="input-group">
						<label>병원장 이름</label>
						<input type="text" name="directorName" id="mceoname" placeholder="이름을 입력하세요" required />
					</div>

					<div class="input-group">
						<label>병원장 전화번호</label>
						<input
							type="tel"
							name="directorPhone"
							id="directorPhone"
							placeholder="전화번호를 입력하세요"
							required
							maxlength="13"
							oninput="autoHyphen(this)"
						/>
						<button
							type="button"
							id="checkPhoneBtn"
							onclick="checkPhoneAndSendVerification('directorPhone', '/auth/checkPhone')"
						>
							인증번호발송
						</button>

						<span id="phoneErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group" id="verification-section">
						<label>인증번호</label>
						<input type="number" id="checkPhoneNum" placeholder="인증번호를 입력하세요" required />
						<button type="button" id="checkPhoneNumBtn" onclick="checkPhoneNumber()">인증하기</button>
					</div>

					<div class="input-group">
						<label>사업자등록번호</label>
						<input
							type="text"
							name="directorLicense"
							id="mceolicense"
							placeholder="사업자등록번호를 입력하세요"
							required
							maxlength="12"
							oninput="autoHyphenNum(this)"
						/>
						<button type="button" id="hlicensecheck" onclick="checkLicense()">인증하기</button>
					</div>

					<div>
						<input type="checkbox" id="invalidCheck" required />
						동의항목<label class="form-check-label" onclick="openModal()"> [상세보기]</label>
					</div>

					<br />
					<input type="submit" value="회원가입" class="btn btn-danger" />
				</form>

				<br />

				<form
					id="pharmacyForm"
					style="display: none"
					onsubmit="submitForm(event, 'pharmacyForm')"
					enctype="multipart/form-data"
					method="post"
				>
					<div class="input-group">
						<label>아이디</label>
						<input
							type="text"
							name="pharmacyId"
							id="mid"
							placeholder="아이디를 입력하세요"
							required
							oninput="checkId()"
						/>
						<button type="button" id="midcheck" onclick="checkDupliId()" disabled>중복 확인</button>
						<span id="idErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>비밀번호</label>
						<input
							type="password"
							name="pharmacyPw"
							id="mpw"
							placeholder="비밀번호를 입력하세요"
							required
							oninput="checkPassword()"
						/>
						<span id="pwErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>비밀번호 확인</label>
						<input
							type="password"
							id="mpwcheck"
							placeholder="비밀번호를 다시 입력하세요"
							required
							oninput="checkPasswordMatch()"
						/>
						<span id="rePasswordErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>약국 이름</label>
						<input
							type="text"
							name="pharmacyName"
							id="mname"
							placeholder="이름을 입력하세요"
							required
							oninput="checkName()"
						/>
						<span id="nameErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group">
						<label>약국 주소</label>
						<input type="text" name="address" id="madd" required />
						<input
							type="button"
							id="maddcheck"
							class="btn btn-warning"
							value="주소검색"
							onclick="searchAdd()"
						/>
					</div>

					<div class="input-group">
						<label>전화번호</label>
						<input
							type="tel"
							name="pharmacyPhone"
							id="mphone"
							placeholder="전화번호를 입력하세요"
							required
							maxlength="10"
							oninput="autoHyphen(this)"
						/>
					</div>

					<div class="input-group">
						<label>팩스번호</label>
						<input
							type="tel"
							name="pharmacyFax"
							id="mfax"
							placeholder="전화번호를 입력하세요"
							required
							maxlength="10"
							oninput="autoHyphen(this)"
						/>
					</div>

					<div class="input-group">
						<label>대표 사진</label>
						<input type="file" name="uploadFiles" id="mimg" />
						<img id="filePreview" alt="File Preview" />
					</div>

					<div class="input-group">
						<label>휴무일</label>
						<th:block th:each="detailCode : ${application.detailCode_i}">
							<input
								type="checkbox"
								name="holiday"
								th:value="${detailCode.detailCode}"
								style="
									width: 20px;
									height: 20px;
									border: 2px solid #3498db;
									border-radius: 5px;
									margin-right: 10px;
									cursor: pointer;
									display: flex;
									align-items: center;
									justify-content: center;
									transition: background-color 0.3s;
								"
							/>
							<label
								th:for="${'hday' + detailCode.detailCode}"
								th:text="${detailCode.codeName}"
								style="width: 50px"
							></label>
							<br />
						</th:block>
					</div>

					<div class="input-group">
						<label>오픈 시간</label>
						<select name="opentime">
							<option selected>선택하세요</option>
							<th:block th:each="detailCode : ${application.detailCode_k}">
								<option th:value="${detailCode.codeName}" th:text="${detailCode.codeName}"></option>
							</th:block>
						</select>
					</div>

					<div class="input-group">
						<label>마감 시간</label>
						<select name="closetime">
							<option selected>선택하세요</option>
							<th:block th:each="detailCode : ${application.detailCode_k}">
								<option th:value="${detailCode.codeName}" th:text="${detailCode.codeName}"></option>
							</th:block>
						</select>
					</div>

					<hr />

					<div class="input-group">
						<label>대표자 이름</label>
						<input type="text" name="ceoName" id="mceoname" placeholder="이름을 입력하세요" required />
					</div>

					<div class="input-group">
						<label>대표자 전화번호</label>
						<input
							type="tel"
							name="ceoPhone"
							id="mceophone"
							placeholder="전화번호를 입력하세요"
							required
							maxlength="13"
							oninput="autoHyphen(this)"
						/>
						<button type="button" id="checkPhoneBtn" onclick="checkPhone()">인증번호발송</button>
						<span id="phoneErrorMessage" class="error-message" style="display: block"></span>
					</div>

					<div class="input-group" id="verification-section">
						<label>인증번호</label>
						<input type="number" id="checkPhoneNum" placeholder="인증번호를 입력하세요" required />
						<button type="button" id="checkPhoneNumBtn" onclick="checkPhoneNumber()">인증하기</button>
					</div>

					<div class="input-group">
						<label>사업자등록번호</label>
						<input
							type="text"
							name="ceoLicense"
							id="mceolicense"
							placeholder="사업자등록번호를 입력하세요"
							required
							maxlength="12"
							oninput="autoHyphenNum(this)"
						/>
						<button type="button" id="hlicensecheck" onclick="checkLicense()">인증하기</button>
					</div>

					<div>
						<input type="checkbox" id="invalidCheck" required />
						동의항목<label class="form-check-label" onclick="openModal()"> [상세보기]</label>
					</div>

					<br />
					<input type="submit" value="회원가입" class="btn btn-danger" />
				</form>
			</div>

			<!-- Modal -->
			<div class="modal" tabindex="-1" id="exampleModal">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">
							<p>대충 개인정보약관 내용</p>
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
