<!-- userList.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>User List</title>
	</head>

	<body>
		<h2>User List</h2>

		<table border="1">
			<thead>
				<tr>
					<th>User ID</th>
					<th>User Name</th>
					<th>Phone</th>
					<th>Birthday</th>
					<th>Gender</th>
					<th>Identification</th>
					<th>Status</th>
					<th>Join Date</th>
				</tr>
			</thead>
			<tbody>
				<!-- Thymeleaf 반복문을 사용하여 사용자 목록을 테이블에 표시 -->
				<tr th:each="user : ${users}">
					<td th:text="${user.userId}"></td>
					<td th:text="${user.userName}"></td>
					<td th:text="${user.phone}"></td>
					<td th:text="${#dates.format(user.birthday, 'yyyy-MM-dd')}"></td>
					<td th:text="${user.gender}"></td>
					<td th:text="${user.identification}"></td>
					<td th:text="${user.userStatus}"></td>
					<td th:text="${#dates.format(user.joinDate, 'yyyy-MM-dd')}"></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>
