<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div layout:fragment="content">
			<p>[[${reserveMyList}]]</p>
			<p>adsg</p>
			<p>[[${profile}]]</p>

			<table class="table table-hover">
				<thead>
					<tr>
						<th>예약코드</th>
						<th>환자이름</th>
						<th>생년월일</th>
						<th>성별</th>
						<th>환자Tel</th>
						<th>예약시간</th>
						<th>담당의</th>
						<th>구분</th>
						<th>진료상태</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="rdl : ${reserveMyList}">
						<td th:text="${rdl.reserveNo}"></td>
						<td th:text="${rdl.userName}"></td>
						<td th:text="${#dates.format(rdl.userBirthday, 'yyyy-MM-dd')}"></td>
						<td th:text="${rdl.gender}"></td>
						<td th:text="${rdl.userPhone}"></td>
						<td th:text="|${rdl.reserveTime} : 00|"></td>
						<td th:text="${rdl.doctorName}"></td>

						<td th:if="${ rdl.reserveKindstatus == 'c1' }">대면</td>
						<td th:unless="${ rdl.reserveKindstatus == 'c1' }">비대면</td>
						<td>
							<button disabled th:if="${rdl.reserveStatus} =='e1'" class="btn btn-secondary">
								진료대기
							</button>
							<button
								th:if="${rdl.reserveStatus} =='e3'"
								th:onclick="enter();"
								class="btn btn-primary enterBtn"
							>
								입장하기
							</button>
							<button disabled th:if="${rdl.reserveStatus} =='e4'" class="btn btn-light">진료완료</button>
						</td>
					</tr>
				</tbody>
			</table>

			<script>
				function enter() {
					location.href = `/untactPatient`;
				}
			</script>
		</div>
	</body>
</html>
