<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />
		<title>회원가입</title>

		<script type="text/javascript">
			function checkId() {
				alert('꺄앆');
			}
			function checkPhone() {
				alert('으악');
			}
			function openModal() {
				alert('크아악');
			}
		</script>
	</head>

	<body>
		<div class="container" layout:fragment="content">
			<div class="form-body">
				<div class="row">
					<div class="form-holder">
						<div class="form-content">
							<div class="form-items">
								<br />
								<h3>회원가입</h3>
								<form th:action="@{/userjoin}" method="post">
									<br />
									<div class="col-md-12">
										아이디<input
											class="form-control"
											type="text"
											name="userId"
											id="id"
											placeholder="아이디를 입력하세요"
											required
										/>
										<input
											type="button"
											id="userid"
											class="btn btn-warning"
											value="아이디 중복확인"
											onclick="checkId()"
										/>
									</div>

									<br />
									<div class="col-md-12">
										비밀번호<input
											class="form-control"
											type="password"
											name="userPw"
											id="pw"
											placeholder="비밀번호를 입력하세요"
											required
										/>
									</div>

									<br />
									<div class="col-md-12">
										비밀번호 확인<input
											class="form-control"
											type="password"
											id="rePw"
											placeholder="비밀번호를 재입력하세요"
											required
										/>
									</div>

									<br />
									<div class="col-md-12">
										이름<input
											class="form-control"
											type="text"
											name="userName"
											id="name"
											placeholder="이름을 입력하세요"
											required
										/>
									</div>

									<br />
									<div class="col-md-12">
										전화번호<input
											class="form-control"
											type="tel"
											name="phone"
											id="phone"
											placeholder="전화번호를 입력하세요"
											required
											maxlength="13"
										/>
										<input
											type="button"
											id="tel"
											class="btn btn-warning"
											value="전화번호인증"
											onclick="checkPhone()"
										/>
									</div>

									<br />
									<div class="col-md-12">
										생년월일<input
											class="form-control"
											type="date"
											name="birthday"
											id="birthDay"
											required
										/>
									</div>

									<br />
									<div class="col-md-12">
										<label
											>성별<br />
											<!-- 남성<input class="form-control" type="radio" name="gender" value="M" />여성
											<input class="form-control" type="radio" name="gender" value="F"
										/> -->
										</label>
									</div>

									<br />
									<div class="col-md-12">
										<label>신분증 사진<br /></label>
									</div>

									<br />
									<div class="col-md-12">
										<label>결제 수단<br /></label>
									</div>

									<br />
									<div class="form-check">
										<label class="form-check-label"> 만 17세 이상입니다 </label>
										<input class="form-check-input" type="checkbox" id="invalidCheck" required />
									</div>

									<br />
									<div class="form-check">
										<label class="form-check-label" onclick="openModal()"> [전문보기]</label> 동의
										<input class="form-check-input" type="checkbox" id="invalidCheck" required />
									</div>

									<br />
									<input type="submit" value="회원가입" class="btn btn-danger" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
