<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />
	</head>
	<body>
		<div layout:fragment="content">
			<p>마아아이이이페에에에이이이지이이이</p>
			<p th:text="${profile}"></p>
			<div><img th:src="@{/img/{img}(img= ${profile.identification})}" width="300px" height="300px" /></div>
			<p>전체코드</p>
			<p th:text="${application.detailCode}"></p>
			<p>개별코드</p>
			[[${application.detailCode_a}]]
		</div>
	</body>
</html>
