<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}"
>
	<head>
		<meta charset="UTF-8" />

		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.all.min.js"></script>
		<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet" />

		<script type="text/javascript">
			function errAlert(content) {
				Swal.fire({
					icon: 'error',
					text: content,
				});
			}
			function checkDupliId() {
				let checkId = $('#userid').val();
				console.log(checkId);
				let url = '/checkId?userId=' + checkId;
				$.ajax({
					url: url,
					type: 'get',
				})
					.done((resp) => {
						if (resp == 1) {
							alert('중복');
						} else {
							alert('사용가능');
						}
						console.log(resp);
					})
					.fail((err) => {
						console.log(err);
					});
			}
		</script>
	</head>
	<body>
		<div layout:fragment="content">
			<p>마아아이이이페에에에이이이지이이이</p>
			<p th:text="${profile}"></p>
			<p th:text="${session.userId}"></p>
			[[${session.userId}]]
			<!-- <div><img th:src="@{/img/{img}(img= ${profile.identification})}" width="300px" height="300px" /></div> -->
			<p>전체코드</p>
			<p th:text="${application.detailCode}"></p>
			<p>개별코드</p>
			[[${application.detailCode_a}]]

			<div class="col-md-12">
				아이디
				<input type="text" id="userid" />
			</div>

			<a class="btn btn-warning" onclick="checkDupliId()">중복확인</a>
		</div>
	</body>
</html>
