<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drcome.project.medical.mapper.HospitalMapper">

	<!-- Dashboard -->
	<!-- 오늘 진료 및 예약 리스트 -->
	<select id="selectTodayReserve" resultType="Map">
		<![CDATA[
	         SELECT r.RESERVE_NO "reserveNo"
				 , u.birthday "userBirthday"
				 , u.gender "gender"
				 , u.phone "userPhone" 
				 , u.user_name "userName"
	 			 , u.user_id "userId"
				 , r.reserve_time "reserveTime"
				 , d.doctor_name "doctorName"
				 , r.reserve_kindstatus "reserveKindstatus"
			  FROM reservation r
			  JOIN doctor d ON r.doctor_no = d.doctor_no AND r.hospital_id = d.hospital_id
			  JOIN usertable u ON u.user_id = r.user_id
			  WHERE r.hospital_id = #{hospitalId}
			  AND r.reserve_year||r.RESERVE_month||r.reserve_day = to_char(sysdate, 'yyyyMMdd')
			  AND ROWNUM <= 5
			  GROUP BY r.RESERVE_NO
				 , u.birthday
				 , u.gender
				 , u.phone
				 , u.user_name
			 	 , u.user_id
				 , r.reserve_time
				 , d.doctor_name
				 , r.reserve_kindstatus
			  ORDER BY r.reserve_time, r.reserve_no
		]]>
	</select>
	<!-- QnA 리스트(답변/노답변) -->
	<!-- 답변O -->
	<select id="selectQnAO" resultType="Map">
		<![CDATA[		
			SELECT user_id "userId",
				   category_status "categoryStatus",
				   title "title",
				   ans_status "ansStatus"
			  FROM QNA
			  WHERE hospital_id = #{hospitalId} AND ans_status = 'j2' AND ROWNUM <= 5
			  ORDER BY wdate
		]]>
	</select>
	
	<!-- 답변X -->
	<select id="selectQnAX" resultType="Map">
		<![CDATA[		
			SELECT user_id "userId",
				   category_status "categoryStatus",
				   title "title",
				   ans_status "ansStatus"
			  FROM QNA
			  WHERE hospital_id = #{hospitalId} AND ans_status = 'j1' AND ROWNUM <= 5
			  ORDER BY wdate
		]]>
	</select>
	
	<!-- 예약내역 -->
	<!-- 메인 -->
	<select id="selectReserveMain" resultType="Map">
	    SELECT r.RESERVE_NO "reserveNo"
	         ,r.reserve_status "reserveStatus"
	         , u.birthday "userBirthday"
	         , u.gender "gender"
	         , u.phone "userPhone" 
	         , u.user_name "userName"
	         , u.user_id "userId"
	         , r.reserve_time "reserveTime"
	         , d.doctor_name "doctorName"
	         , r.reserve_kindstatus "reserveKindstatus"
	      FROM reservation r
	      JOIN doctor d ON r.doctor_no = d.doctor_no AND r.hospital_id = d.hospital_id
	      JOIN usertable u ON u.user_id = r.user_id
	     WHERE r.hospital_id = #{hospitalId}
	       AND r.reserve_year||r.RESERVE_month||r.reserve_day = 
	         <choose>
	           <when test="date == null">
	             to_char(sysdate, 'YYYYMMDD')
	           </when>
	           <otherwise>
	             #{date}
	           </otherwise>
	         </choose>
			<if test="reserveKindstatus != null and reserveKindstatus != ''">
			    AND r.reserve_kindstatus = #{reserveKindstatus}
			</if>
	    ORDER BY r.reserve_time, r.reserve_no
	</select>
	
	<!-- Patient -->
	<!-- 환자 리스트 -->
	<select id="selectPatientList" resultType="Map">
		SELECT * FROM (
				    SELECT a.patient_no "patientNo",
						   u.user_name "userName",
						   u.birthday "userBirthday",
						   u.gender "gender",
						   u.phone "phone",
				           ROWNUM AS rn
					  FROM patient a 
					  JOIN usertable u ON a.user_id = u.user_id
				     WHERE a.hospital_id = #{hospitalId}
				         <include refid="searchP"></include>
				     AND ROWNUM <![CDATA[ <= ]]> #{page} * 10
				     ORDER BY a.patient_no DESC
				      )
		 WHERE rn > (#{page} - 1) * 10
	</select>
	
	<!-- 환자 리스트 페이징-->
	<select id="patientCount" resultType="int">
		SELECT COUNT(*)
			FROM patient a 
			JOIN usertable u ON a.user_id = u.user_id
			WHERE a.hospital_id = #{hospitalId}
           <include refid="searchP"></include>
	</select>
	
	<!-- 환자 공통 if search 쿼리 -->
	<sql id="searchP">
		<if test="keyword != null and keyword != '' ">
	         <if test="type == 1">
	       	 AND patient_no LIKE '%'|| #{keyword} ||'%'
	         </if>
	         <if test="type == 2">
	          AND user_name LIKE '%'|| #{keyword} ||'%'
	         </if>
	    </if>
	</sql>
	
	<!-- 환자 상세 -->
	<select id="selectPatientDetailList" resultType="Map">
	SELECT c.clinic_no "clinicNo"
		 , c.pay_yn "payYn"
		 , c.clinic_date "clinicDate"
		 , c.clinic_symptom "clinicSymptom"
		 , c.specificity "specificity"
		 , c.perscription_yn "perscriptionYn"
		 , r.reserve_status "reserveStatus"
		 , r.reserve_kindstatus "reserveKindstatus"
		 , u.user_name "userName"
		 , u.birthday "userBirthday"
		 , u.gender "gender"
		 , u.phone "userPhone"
		 , a.patient_no "patientNo" 
	FROM clinic c 
	JOIN reservation r ON c.RESERVE_NO = r.RESERVE_NO
	JOIN patient a ON c.hospital_id = a.hospital_id AND c.patient_no = a.patient_no
	JOIN usertable u ON u.user_id = a.user_id
	WHERE a.hospital_id = #{hospitalId} AND a.patient_no = #{patientNo}
	ORDER BY c.clinic_no
	</select>
	
	<!-- 환자 진료 내역서 단건 조회 -->
	<select id="selectPatientInfo" resultType="Map">
		SELECT c.clinic_no "clinicNo"
			 , c.clinic_date "clinicDate"
			 , c.clinic_symptom "clinicSymptom"
			 , c.specificity "specificity"
			 , c.perscription_yn "perscriptionYn"
			 , u.user_name "userName"
			 , u.birthday "userBirthday"
			 , u.gender "gender"
			 , r.reserve_kindstatus "reserveKindstatus"
		 	 , a.patient_no "patientNo"
		  FROM clinic c 
		  JOIN reservation r ON c.RESERVE_NO = r.RESERVE_NO
		  JOIN patient a ON c.hospital_id = a.hospital_id AND c.patient_no = a.patient_no
		  JOIN usertable u ON u.user_id = a.user_id
		 WHERE a.hospital_id = #{hospitalId}
	       AND a.patient_no = #{patientNo}
	       AND c.clinic_no = #{clinicNo}
	</select>
	<!-- 처방전 가져오기 -->
	<select id="selectPillList" resultType="Map">
		SELECT medicine_name "medicineName",
			   dosage "dosage",
			   dose_cnt "doseCnt",
			   dose_day "doseDay"
		  FROM perscription p
		  JOIN medicine d
		    ON (p.medicine_no = d.medicine_no)
		 WHERE clinic_no = #{clinicNo}
	</select>
	
	
	<!-- 진료실 -->
	<select id="selectReserveDr" resultType="Map">
         SELECT r.RESERVE_NO "reserveNo"
             ,r.reserve_status "reserveStatus"
			 , u.birthday "userBirthday"
			 , u.gender "gender"
			 , u.phone "userPhone" 
			 , u.user_name "userName"
			 , u.user_id "userId"
			 , r.reserve_time "reserveTime"
			 , d.doctor_name "doctorName"
			 , r.reserve_kindstatus "reserveKindstatus"
		  FROM reservation r
		  JOIN doctor d ON r.doctor_no = d.doctor_no AND r.hospital_id = d.hospital_id
		  JOIN usertable u ON u.user_id = r.user_id
		  WHERE r.hospital_id = #{hospitalId}
		  AND r.reserve_year||r.RESERVE_month||r.reserve_day =
         	<choose>
	           <when test="date == null">
	             to_char(sysdate, 'YYYYMMDD')
	           </when>
	           <otherwise>
	             #{date}
	           </otherwise>
	         </choose>
   			<if test="doctorNo != null and doctorNo != ''">
				AND d.doctor_No = #{doctorNo}
			</if>
  			<if test="reserveKindstatus != null and reserveKindstatus != ''">
			    AND r.reserve_kindstatus = #{reserveKindstatus}
			</if>
		  ORDER BY r.reserve_time, r.reserve_no
	</select>
	<select id="allDrList" resultType="Map">
		SELECT doctor_no "doctorNo",
			   doctor_name "doctorName",
			   hospital_id "hospitalId"
		  FROM doctor
		 WHERE hospital_id = #{hospitalId}
	</select>
	
	<!-- QnA -->
	<!-- QnA 전체 -->
	<select id ="selectQnaList" resultType="Map">
		SELECT * FROM (
				    SELECT qna_no "qnaNo",
						   title "title",
						   user_id "userId",
						   category_status "categoryStatus",
						   wdate "wdate",
						   udate "udate",
						   ans_status "ansStatus",
				           ROWNUM AS rn
				      FROM (
				          SELECT qna_no,
							     title,
							     user_id,
							     category_status,
							     wdate,
							     udate,
							     ans_status
				            FROM qna
				           WHERE hospital_id = #{hospitalId}
				             AND ANS_STATUS IS NOT NULL
				         <include refid="search"></include>
				           ORDER BY qna_no DESC
				      )
				      WHERE ROWNUM <![CDATA[ <= ]]> #{page} * 10
				)
		 WHERE rn > (#{page} - 1) * 10
	</select>
	
	<!-- QnA 페이징-->
	<select id="qnaCount" resultType="int">
		SELECT COUNT(*)
			FROM qna
			WHERE hospital_id = #{hospitalId}
			AND ANS_STATUS IS NOT NULL
           <include refid="search"></include>
	</select>
	
	<!-- QnA 공통 if search 쿼리 -->
	<sql id="search">
		<if test="keyword != null and keyword != '' ">
             <if test="type == 1">
	          AND title LIKE '%'|| #{keyword} ||'%'
             </if>
             <if test="type == 2">
              AND user_id LIKE '%'|| #{keyword} ||'%'
             </if>
           </if>
           <if test="categoryStatus != null and categoryStatus != '' ">
	          AND category_status = #{categoryStatus}
           </if>
           <if test="ansStatus != null and ansStatus != '' ">
	          AND ans_status = #{ansStatus}
           </if>
	</sql>
	
	<!-- QnA 상세 -->
	<select id ="selectQnaInfo" resultType="Map">
		SELECT qna_no "qnaNo",
		       title "title",
		       user_id "userId",
		       category_status "categoryStatus",
		       content "content",
		       wdate "wDate",
		       udate "uDate",
		       ans_status "ansStatus"
		  FROM qna
		 WHERE hospital_id = #{hospitalId} AND qna_no = #{qnaNo} AND ANS_STATUS IS NOT NULL
		 ORDER BY qna_no DESC
	</select>

	<!-- 공지사항 -->
	<!-- 공지사항 전체 -->
	<select id ="selectNoticeList" resultType="Map">
		
			SELECT * FROM (
			    SELECT notice_no "noticeNo",
			           title "title",
			           content "content",
			           wdate "wdate",
			           udate "udate",
			           ROWNUM AS rn
			      FROM (
			          SELECT notice_no,
			                 title,
			                 content,
			                 wdate,
			                 udate
			            FROM notice
			           WHERE hospital_id = #{hospitalId}
			           <if test="keyword != null and keyword != '' ">
			             <if test="type == 1">
				          AND title LIKE '%'|| #{keyword} ||'%'
			             </if>
			             <if test="type == 2">
			              AND content LIKE '%'|| #{keyword} ||'%'
			             </if>
			           </if>
			           ORDER BY notice_no DESC
			      )
			      
			      WHERE ROWNUM <![CDATA[ <= ]]> #{page} * 10
			      
			)
			WHERE rn > (#{page} - 1) * 10

	</select>
	
	<!-- 공지사항 페이징-->
	<select id="noticeCount" resultType="int">
		SELECT COUNT(*)
			FROM notice
			WHERE hospital_id = #{hospitalId}
           	<if test="keyword != null and keyword != '' ">
             <if test="type == 1">
	          AND title LIKE '%'|| #{keyword} ||'%'
             </if>
             <if test="type == 2">
              AND content LIKE '%'|| #{keyword} ||'%'
             </if>
           </if>
	</select>
	
	<!-- 공지사항 상세 -->
	<select id="selectNoticeInfo" resultType="Map">
		SELECT n.notice_no "noticeNo",
		       n.wdate "wDate",
		       n.title "title",
		       n.content "content",
		       a.file_name "fileName"
		  FROM notice n
		  JOIN attachment a ON n.notice_no = a.notice_no
		 WHERE n.hospital_id = #{hospitalId} AND n.notice_no = #{noticeNo}
	</select>
	
	<!-- 공지사항 상세 collection -->
	<resultMap id="atResult" type="NoticeVO">
		<id column="notice_no" property="noticeNo"/>
		<collection property="files" javaType="ArrayList"
			column="notice_no" ofType="NoticeAttachVO" select="selectNoAttachList"/>
	</resultMap>
	
	<select id="selectNoList" resultMap="atResult">
		select notice_no,
		       title,
		       wdate,
		       content,
		       hospital_id,
		       udate
		from notice
		where notice_no = #{noticeNo}
		AND hospital_id = #{hospitalId}
	</select>
	<select id="selectNoAttachList" resultType="NoticeAttachVO">
		select file_no,
		       file_name,
		       notice_no,
		       qna_no
		from attachment
		where notice_no = #{noticeNo}
	</select>
	
	<!-- 공지사항 등록 -->
	<!-- 첨부파일 같이 등록 -->
	<insert id="insertNotice" parameterType="NoticeVO">
	<selectKey keyProperty="noticeNo" order="BEFORE" resultType="int">
	  select notice_seq.NEXTVAL 
	  from   dual
	</selectKey>
		INSERT INTO notice (notice_no,
								title,
								content,
								hospital_id)
		VALUES (#{noticeNo},
				#{title},
				#{content},
				#{hospitalId})
	</insert>
	<insert id="insertAttach" parameterType="NoticeVO">
		INSERT INTO attachment (file_no, file_name, notice_no)
		VALUES (attachment_seq.NEXTVAL,
				#{fileName},
				#{noticeNo})
	</insert>
	
	<!-- MyProfile -->
	<!-- 병원-의사-시간 조회 -->
	<resultMap id="drResult" type="DoctorVO">
		<id column="doctor_no" property="doctorNo"/>
		<collection property="times" javaType="ArrayList"
			column="doctor_no" ofType="DoctorTimeVO" select="selectDrTimeList" />
	</resultMap>

	<select id="selectDrList" resultMap="drResult">
		SELECT 
			doctor_no,
			subject,
			doctor_name,
			holiday,
			doctor_license
		FROM DOCTOR
		WHERE hospital_id = #{hospitalId}
	</select>

	<select id="selectDrTimeList" resultType="DoctorTimeVO">
		SELECT
			doctor_no,
			find_code(day) day,
			day days,
			MIN(time) AS min_time,
			MAX(time) AS max_time
		FROM
			doctor_time
		WHERE doctor_no = #{doctorNo}
		GROUP BY
			doctor_no,
			day
		ORDER BY doctor_no, days
	</select>
	
	<!-- 의사 번호 조회 -->
	<select id="getCurrentDoctorNo" resultType="int">
        SELECT doctor_seq.currval FROM dual
    </select>
    
    <!-- 의사 정보 조회 -->
    <select id="selectDoctor" resultType="DoctorVO">
    	SELECT doctor_no
    	      , subject
    		  , doctor_name
    		  , doctor_license
    	FROM doctor 
    	WHERE doctor_no = #{doctorNo}
    </select>
	
	<!-- 의사 정보 등록 -->
	<insert id="insertDoctor" parameterType="DoctorVO">
		INSERT INTO doctor (doctor_no
							, subject
							, doctor_name
							, doctor_license
							, holiday
							, hospital_id)
		VALUES (doctor_seq.nextval
				, #{subject}
				, #{doctorName}
				, #{doctorLicense}
				, #{holiday}
				, #{hospitalId})
	</insert>
	
	<!-- 의사 시간 등록 -->
	<insert id="insertDoctorTime" parameterType="DoctorTimeVO">
        INSERT INTO doctor_time (doctor_timeno
        						, doctor_no
        						, day
        						, time)
        VALUES (doctor_time_seq.nextval
        		, #{doctorNo}
        		, #{day}
        		, #{timeSlot})
    </insert>
    
    <!-- 의사 정보 수정 -->
    <update id="updateDoctor" parameterType="DoctorVO" >
    	UPDATE doctor
    	SET subject = #{subject}
    	  , holiday = #{holiday}
    	WHERE doctor_no = #{doctorNo}
    </update>
    
    <!-- 의사 시간 삭제 -->
	<delete id="deleteDoctorTime">
		DELETE doctor_time
		WHERE doctor_no = #{doctorNo}
	</delete>
</mapper>