<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.drcome.project.medical.mapper.HospitalMapper">

	<!-- Dashboard -->
	<!-- 오늘 진료 및 예약 리스트 -->
	<select id="selectTodayReserve" resultType="Map">
		SELECT c.clinic_no "clinicNo"
			 , u.birthday "userBirthday"
			 , u.gender "gender"
			 , u.phone "userPhone" 
			 , u.user_name "userName"
			 , r.reserve_time "reserveTime"
			 , d.doctor_name "doctorName"
			 , r.reserve_kindstatus "reserveKindstatus"
		  FROM clinic c 
		  JOIN reservation r ON c.RESERVE_NO = r.RESERVE_NO
		  JOIN doctor d ON r.doctor_no = d.doctor_no
		  JOIN patient a ON c.hospital_id = a.hospital_id AND c.patient_no = a.patient_no
		  JOIN usertable u ON u.user_id = a.user_id
		  WHERE a.hospital_id = #{hospitalId} 
		  AND reserve_year||r.RESERVE_month||r.reserve_day = to_char(sysdate, 'yyyyMMdd')
		  GROUP BY c.clinic_no
				 , u.birthday
				 , u.gender
				 , u.phone
				 , u.user_name
				 , r.reserve_time
				 , d.doctor_name
				 , r.reserve_kindstatus
		  ORDER BY r.reserve_time, c.clinic_no
	</select>
	<!-- QnA 리스트(답변/노답변) -->
	<!-- 답변O -->
	<select id="selectQnAO" resultType="Map">
		<![CDATA[		
			SELECT user_id "userId",
				   category_status "categoryStatus",
				   title "title",
				   ans_status "ansStatus"
			  FROM QNA
			  WHERE hospital_id = #{hospitalId} AND ans_status = 'j2' AND ROWNUM <= 5
			  ORDER BY wdate
		]]>
	</select>
	
	<!-- 답변X -->
	<select id="selectQnAX" resultType="Map">
		<![CDATA[		
			SELECT user_id "userId",
				   category_status "categoryStatus",
				   title "title",
				   ans_status "ansStatus"
			  FROM QNA
			  WHERE hospital_id = #{hospitalId} AND ans_status = 'j1' AND ROWNUM <= 5
			  ORDER BY wdate
		]]>
	</select>
	
	<!-- QnA -->
	<!-- QnA 전체 -->
	<select id ="selectQnaList" resultType="Map">
		SELECT qna_no "qnaNo",
			   title "title",
			   user_id "userId",
			   category_status "categoryStatus",
			   wdate "wDate",
			   udate "uDate",
			   ans_status "ansStatus"
		  FROM qna
		 WHERE hospital_id = #{hospitalId} AND ANS_STATUS IS NOT NULL
		 ORDER BY qna_no DESC
	</select>	

	<!-- MyProfile -->
	<!-- 병원-의사-시간 조회 -->
	<resultMap id="drResult" type="DoctorVO">
		<id column="doctor_no" property="doctorNo"/>
		<collection property="times" javaType="ArrayList"
			column="doctor_no" ofType="DoctorTimeVO" select="selectDrTimeList" />
	</resultMap>

	<select id="selectDrList" resultMap="drResult">
		SELECT 
			doctor_no,
			subject,
			doctor_name,
			holiday,
			doctor_license
		FROM DOCTOR
		WHERE hospital_id = #{hospitalId}
	</select>

	<select id="selectDrTimeList" resultType="DoctorTimeVO">
		SELECT
			doctor_no,
			find_code(day) day,
			day days,
			MIN(time) AS min_time,
			MAX(time) AS max_time
		FROM
			doctor_time
		WHERE doctor_no = #{doctorNo}
		GROUP BY
			doctor_no,
			day
		ORDER BY doctor_no, days
	</select>

	<!-- Patient -->
	<!-- 환자 리스트 -->
	<select id="selectPatientList" resultType="Map">
		SELECT a.patient_no "patientNo"
			, u.user_name "userName"
			, u.birthday "userBirthday"
			, u.gender "gender"
			, u.phone "userPhone"
		FROM patient a 
		JOIN usertable u ON a.user_id = u.user_id
		WHERE a.hospital_id = #{hospitalId}
		ORDER BY a.patient_no
	</select>
	
	<!-- 환자 상세 -->
	<select id="selectPatientDetailList" resultType="Map">
	SELECT c.clinic_no "clinicNo"
		, c.pay_yn "payYn"
		, c.clinic_date "clinicDate"
		, c.clinic_symptom "clinicSymptom"
		, c.specificity "specificity"
		, c.perscription_yn "perscriptionYn"
		, r.reserve_status "reserveStatus"
		, r.reserve_kindstatus "reserveKindstatus"
		, u.user_name "userName"
		, u.birthday "userBirthday"
		, u.gender "gender"
		, u.phone "userPhone" 
	FROM clinic c 
	JOIN reservation r ON c.RESERVE_NO = r.RESERVE_NO
	JOIN patient a ON c.hospital_id = a.hospital_id AND c.patient_no = a.patient_no
	JOIN usertable u ON u.user_id = a.user_id
	WHERE a.hospital_id = #{hospitalId} AND a.patient_no = #{patientNo}
	GROUP BY c.clinic_no 
		, c.pay_yn
		, c.clinic_date
		, c.clinic_symptom
		, c.specificity
		, c.perscription_yn
		, r.reserve_status
		, r.reserve_kindstatus
		, u.user_name
		, u.birthday
		, u.gender
		, u.phone
	ORDER BY c.clinic_no
	</select>
</mapper>