<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Challenge</title>
<style>
/* 일요일 날짜 빨간색 */
.fc-day-sun a {
  color: red;
  text-decoration: none;
}

/* 토요일 날짜 파란색 */
.fc-day-sat a {
  color: blue;
  text-decoration: none;
}
/* 이벤트 아이콘 스타일 */
.event-icon {
  margin-right: 5px; /* 아이콘과 텍스트 사이의 간격 조정 */
}
#calendercon {
margin-top: 50px;
}
button {
	border: none;
}
</style>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
<script th:inline="javascript">
document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
    	events:   [[${successToDo}]],
        initialView: 'dayGridMonth',
        eventDidMount: function(info) {
            var eventTitle = info.event.title;
            var iconClass = '';
            var textColor = '';
            // title이 'success'이면 체크 아이콘과 연두색 텍스트, 'fail'이면 엑스 아이콘과 빨간색 텍스트를 사용합니다.
            if (eventTitle === 'success') {
                iconClass = 'fas fa-check-circle'; // Font Awesome 체크 아이콘
                textColor = 'green'; // 연두색 텍스트
                info.el.style.background = 'none';
                info.el.style.border = 'none';
            } else if (eventTitle === 'fail') {
                iconClass = 'fas fa-times-circle'; // Font Awesome 엑스 아이콘
                textColor = 'red'; // 빨간색 텍스트
                info.el.style.background = 'none';
                info.el.style.border = 'none';
            }  else {
                // success나 fail이 아닌 경우, 시간을 "20:00" 형식으로 변경합니다.
                var eventTime = new Date(info.event.start);
                var hours = eventTime.getHours() < 10 ? '0' + eventTime.getHours() : eventTime.getHours();
                var minutes = eventTime.getMinutes() < 10 ? '0' + eventTime.getMinutes() : eventTime.getMinutes();
                var timeString = hours + ':' + minutes;
                var titleString = info.event.title;
                info.el.innerText = timeString + ' ' + titleString;
                info.el.style.color = 'black';
                return;
            }
            // 이벤트 제목을 감싸는 span 요소를 생성합니다.
            var titleWrapper = document.createElement('span');
            // 아이콘을 생성하고 클래스를 추가합니다.
            var iconElement = document.createElement('i');
            iconElement.className = 'event-icon ' + iconClass;
            // 이벤트 텍스트의 색상을 설정합니다.
            titleWrapper.style.color = textColor;
            // 이벤트 요소에 아이콘과 제목을 추가합니다.
            titleWrapper.appendChild(iconElement);
            titleWrapper.appendChild(document.createTextNode(info.event.title)); // 이벤트 제목을 추가합니다.
            info.el.innerHTML = ''; // 이벤트 요소의 내용을 초기화합니다.
            info.el.appendChild(titleWrapper); // 이벤트 요소에 새로운 내용을 추가합니다.
        },  
        dateClick: function(info) {
            var clickedDate = info.dateStr;
            //info.dayEl.style.backgroundColor = '#f5f5f5'; // 클릭한 날짜에 스타일 적용 예시
            console.log('선택날짜: ' + clickedDate);

            var newURL = "todolist/" + clickedDate;
            //window.location.href = newURL;
            $('#todoModal').modal('show');
            $('#todo').load(newURL);
           
        }
    });
    calendar.render();
   
    $('#todoclose').click(function() {
    	$('#todoModal').modal('hide');
    	 location.reload();
    })
});

</script>
</head>
<body>
	<div layout:fragment="content">
		<div class="container" id="calendercon">
			<div id='calendar'></div>
		</div>
		
		<!-- Modal -->
		<div class="modal fade bd-example-modal-lg" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		  <div class="modal-dialog modal-lg" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">To Do List &nbsp;<i class="fas fa-pencil-alt"></i></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="todoclose">
		          <!-- <span aria-hidden="true">&times;</span> -->
		          <i class="fas fa-window-minimize"></i>
		        </button>
		      </div>
		      <div class="modal-body" id="todo">
		      </div>
		    </div>
		  </div>
		</div>
	</div>
	
</body>
</html>

