<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.drcome.project.common.mapper.UserMemberMapper">
	<select id="selctMemberList"
		resultType="com.drcome.project.common.service.UserMemberVO">
		SELECT * FROM usertable
	</select>
</mapper>