<?xml version="1.0" encoding="UTF-8" ?>
    <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.drcome.project.detail.mapper.DetailMapper">
    
    <select id="selectHos" resultType="HospitalVO" parameterType="HospitalVO">
    
    
    </select>
    
    <select id="selectPha" resultType="PharmacyVO" parameterType="PharmacyVO">
    	
    
    </select>
    
    </mapper>